{% extends "base.html" %}
{% load template_extras %}

{% block title %}Error{% endblock %}
{% block active_class %}more{% endblock %}

{% block content %}

<h2>Error code {{ error_code|default:"500" }}</h2>

<p>Sorry, there's a problem with your request.</p>

{% if reason %}
  <p class="well">{{ reason }}<p>
{% endif %}

<p>
  Our team should have been automatically notified of this error, but if you
  continue to have problems, please contact us at
  <a href="mailto:{{ SUPPORT_TO_EMAIL }}" class="feedback-show">{{ SUPPORT_TO_EMAIL }}</a>.
</p>

{% endblock %}
