{% load crispy_forms_tags %}
<form method="post" class="form form-inline" id="alert-form" {% if alert_type == 'analyse' %}style="display: none"{% endif%}>
 {% csrf_token %}
 <p>
   {% if alert_type == 'analyse' %}
     <input type="hidden" name="url" value="">
     <input type="hidden" name="name" value="">
     Get monthly alert emails with the latest version of this chart.
   {% elif alert_type == 'all_england' %}
     Get monthly alert emails highlighting changes affecting all of NHS England.
   {% else %}
     Get monthly alerts highlighting where you are an outlier, or have
     suddenly changed (<a href="{% url 'alert_example' %}">example</a>).
   {% endif %}
  <p>
  {{ form.non_field_errors }}
  {{ form | crispy }}
  <input class="btn btn-primary" type="submit" value="Subscribe">
  </p>
</form>
