{% load crispy_forms_tags %}
{% if not signed_up_for_alert %}
<form method="post" class="form form-inline">
 {% csrf_token %}
 <p>
   {% if alert_type == 'analyse' %}
     <input type="hidden" name="url" value="">
     <input type="hidden" name="name" value="">
     Get monthly alert emails with the latest version of this chart.
     You can also sign up for our monthly newsletter.
   {% elif alert_type == 'all_england' %}
     Get monthly alert emails highlighting changes affecting all of NHS England.
     You can also sign up for our monthly newsletter.
   {% else %}
     Get monthly alerts highlighting where you are an outlier, or have
     suddenly changed (<a href="{% url 'alert_example' %}">example</a>).
     You can also sign up for our monthly newsletter.
   {% endif %}
  <p>
  {{ form.non_field_errors }}
  {{ form | crispy }}
  <input class="btn btn-primary" type="submit" value="Subscribe">
  </p>
</form>
{% else %}
<p>
  You're already signed up for alerts. You can
  <a href="{% url 'bookmark-list' %}">change your subscriptions here</a>.
</p>
{% endif %}
