<div id="no-data">
<p>No prescriptions found.</p>
</div>

<div id="trends" style="clear: both">

<h3>Trends</h3>

<div class="btn-group btn-toggle" id="graphtype" aria-label="Show spending or items on graph">
<button class="btn btn-info" data-type="items">Items</button>
<button class="btn btn-default" data-type="actual_cost">Spending</button>
</div>

<div id="chart" class="chart">
<div class="status"></div>
</div>

<!-- <div id="detailed-spending" class="chart">
<div class="status">
<p>Getting the data...</p><img src="/static/img/ajax-loader.gif" alt="Loading icon" />
</div>
</div> -->

</div>