{% load template_extras %}

<div id="dashboard">

<h2>Prescribing dashboard</h2>

<p>How this organisation prescribed for six prescribing measures, compared to the mean for all practices in NHS England.</p>

<div class="alert alert-danger" role="alert" style="margin-top: 10px;">
<strong>Warning!</strong> These are important measures, but they should be interpreted thoughtfully. There may be good reasons why a practice is prescribing more or less of something than other practices in the country, e.g. they may have a very different patient population to the national average. Please read our notes on <a href="{% url 'caution'%}">using the data</a> and on <a href="#metrics">these measures</a>.
</div>

<hr/>

<div class="row" id="metric-panels"></div>

<h3 id="metric-descriptions">About these measures</h3>

<p>There are currently six standard prescribing measures on the dashboard pages for <a href="{% url 'all_ccgs' %}">CCGs</a> and <a href="{% url 'all_practices' %}">practices</a>, to get you going. These were developed in discussion between Drs Jeff Aronson, Kamal Mahtani, and Ben Goldacre at the University of Oxford, and Richard Croker from South Devon CCG. They are indicative of what the site can do. The interest of each measure is explained below. </p>

<div id="metric-explanations"></div>

</div>

{% verbatim %}
<script id="metric-panel" type="text/x-handlebars-template">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="panel panel-info">
        <div class="panel-heading">{{ metric_name }}</div>
        <div class="panel-body">
            <p>{{{ metric_intro }}} Learn more <a href="#metric_{{ metric_id }}">about this metric</a>.</p>
            <div id="{{ metric_id }}" class="chart">
            <div class="status"></div>
            </div>
            <p>Get more information on {{ org_name }}'s prescribing of {{ metric_name }}:
            see {{{ metric_footer }}}.
             </p>
        </div>
    </div>
  </div>
</script>
<script id="metric-explanation" type="text/x-handlebars-template">
    <h4 id="metric_{{ metric_id }}">{{ metric_name }}</h4>
    <p>{{ metric_description }}</p>
</script>
{% endverbatim %}

<script>
var orgId = '{{ orgId }}';
var orgName = '{{ orgName }}';
var orgType = '{{ orgType }}';
</script>

{% conditional_js 'dashboard' %}
