{% load humanize %}
<div class="row" id="intro">
{% if entity_type == 'practice' %}
  <div class="col-md-6">
    <h1>
      <a href="{{ entity.get_absolute_url }}" class="unstyled-link">{{ entity.cased_name }}</a>
      {% if entity.is_inactive %}
        ({{ entity.get_status_code_display }})
      {% endif %}
    </h1>

    <p>Address: {{ entity.address_pretty }}</p>
    {% if entity.ccg %}
      <p>Part of CCG:
        <a href="{% url 'ccg_home_page' entity.ccg.code %}">{{ entity.ccg.name }}</a>
      </p>
    {% endif %}
    {% if entity.pcn %}
      <p>Part of PCN:
        <a href="{% url 'pcn_home_page' entity.pcn.code %}">{{ entity.pcn.name }}</a>
      </p>
    {% endif %}
    {% if entity.list_size_13 %}
      <p class="lead">Registered patients in 2013/14: {{ entity.list_size_13|intcomma }}</p>
    {% endif %}
    <p>Current practice type: {{ entity.get_setting_display }}</p>
    {% if entity.close_date %}
    <p><span class="text-danger">Closed: {{ entity.close_date }}</span></p>
    {% endif %}
  </div>

  <div class="col-md-6" id="map-container">
    <div id="map-measure"></div>
    <small>Practice locations are approximate, based on postcode.</small>
  </div>


{% elif entity_type == 'pcn' %}

  <div class="col-md-6">
    <h1>
      <a href="{{ entity.get_absolute_url }}" class="unstyled-link">{{ entity.cased_name }}</a>
    </h1>
    {% include '_practice_list.html' %}
  </div>

  <div class="col-md-6" id="map-container">
    <div id="map-measure"></div>
    <small>Boundary is illustrative only</small>
  </div>

{% elif entity_type == 'ccg' %}
  <div class="col-md-6">
    <h1>
      <a href="{{ entity.get_absolute_url }}" class="unstyled-link">{{ entity.cased_name }}</a>
      {% if entity.close_date %}
        (Closed)
      {% endif %}
    </h1>
    {% if entity.close_date %}
    <p><span class="text-danger">Closed: {{ entity.close_date }}</span></p>
    {% endif %}
    {% include '_practice_list.html' %}
  </div>

  <div class="col-md-6" id="map-container">
    <div id="map-measure"></div>
  </div>

{% elif entity_type == 'regional_team' or entity_type == 'stp' %}
  <div class="col-md-6">
    <h1>
      <a href="{{ entity.get_absolute_url }}" class="unstyled-link">{{ entity.cased_name }}</a>
      {% if entity.close_date %}
        (Closed)
      {% endif %}
    </h1>
    {% if entity.close_date %}
    <p><span class="text-danger">Closed: {{ entity.close_date }}</span></p>
    {% endif %}
    <p>There are {{ ccgs.count }} CCGs in this {{ entity_type_human }}.<a id="showall" href="#">&raquo; show them...</a></p>
    <ul class="list-unstyled" id="child-entities">
    {% for ccg in ccgs %}
      <li class="hidden">
        <a href="{% url 'ccg_home_page' ccg.code %}">{{ ccg.cased_name }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
{% endif %}
</div>
