<table id="ghost_generics" class="table">
  <thead>
    <tr>
      <th>
        Presentation
      </th>
      <th>
        Possible savings <a class="info-link" role="button" data-toggle="popover" data-trigger="hover" title="Possible savings" data-content="The total amount we estimate {{ entity.cased_name}} could save in a month by switching from ghost generics. A negative number indicates a saving which has been made by using ghost generics."><span class="glyphicon glyphicon-question-sign"></span></a>
      </th>
      <th>
        PPU <a class="info-link" role="button" data-toggle="popover" data-trigger="hover" title="Price per Unit" data-content="Mean price-per-unit paid by {{ entity.cased_name}}"><span class="glyphicon glyphicon-question-sign"></span></a>
      </th>
      <th>
        Drug Tariff PPU <a class="info-link" role="button" data-toggle="popover" data-trigger="hover" data-content="The Price per Unit for the generic presentation in this month's Drug Tariff" title="Drug Tariff PPU"><span class="glyphicon glyphicon-question-sign"></span></a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Loading...
      </th>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
  </tbody>

</table>

<a class="btn btn-primary" href="{% url 'ghost_generics_api' %}?entity_code={{ entity.code }}&entity_type={{ entity_type }}&date={{ date|date:'Y-m-d' }}&group_by=practice&format=csv"><span class="glyphicon glyphicon-download-alt"></span> Download raw data</a>
<hr>
