<div class="row">
  <div class="col-md-6">
     {% include '_alert_signup_form.html' %}
  </div>
  <div class="col-md-6">
    <div id="toggle">
      <p>Sort prescribing measures by:</p>
    <div class="btn-group" id="order">
        <button type="button" data-orderby="percentile" class="btn btn-default active" aria-label="Percentile">
            Potential for improvement
        </button>
        <button type="button" data-orderby="savings" class="btn btn-default" aria-label="Potential savings">
            Potential savings
        </button>
    </div>
    </div>
  </div>
</div>

<div id="measures">
  <div id="charts" class="row">
    <div class="loading-wrapper col-xs-12">
        <hr/>
        <img class="loading" src="/static/img/logo.svg" onerror="this.src='/static/img/ajax-loader.gif';this.onerror=null;" title="Loading icon">
        <br/>Fetching data...
        <br/><br/>
    </div>
  </div>

  {% verbatim %}
  <script id="summary-panel" type="text/x-handlebars-template">
  <p>{{ performanceDescription }}</p>

  {{ topOpportunity }}

  {{{ costSavings }}}

  </script>
  <div id="overlay"></div>
  <script id="measure-panel" type="text/x-handlebars-template">
  <a name="{{ chartId}}"></a>
  <div id="measure_{{ chartId }}" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 chart" data-id="{{ chartId }}" data-costsaving="{{ costSaving50th }}">
      <div class="panel panel-info">
          <div class="panel-heading">
              <a href="{{ chartTitleUrl }}">{{ chartTitle }}</a>
          </div>
          <div class="panel-body" class="row">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 inner">
                  <p><strong>Why it matters:</strong> {{ why_it_matters }}</p>
                  <p><strong>Description:</strong> {{{ description }}}</p>
                  <p><strong>Performance:</strong> {{{ chartExplanation }}}</p>
                  <p><strong>Explore:</strong> see <a href="{{ chartTitleUrl }}">how all practices in this CCG</a> contribute to this CCG's performance.</p>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="{{ chartId }}">
                  <div class="status"></div>
              </div>
          </div>

      </div>
  </div>
  </script>
  {% endverbatim %}
</div>
