{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/datatables/datatables-bs.css' %}"/>
<script type="text/javascript" src="{% static 'vendor/datatables/datatables-bs.js' %}"></script>
<script type="text/javascript">
  $('#numerator_breakdown').DataTable(
    {
      "ajax": {
        "url": "{{ API_HOST }}/api/1.0/measure_numerators_by_org/?org={{ entity.code }}&org_type={{ entity_type }}&measure={{ measure.id }}&format=json",
        "dataSrc": ""
      },
      "order": [[1, "desc"]],
      "columns": [
        {"data": "presentation_name"},
        {"data": "total_items",  "className": "text-right", render: $.fn.dataTable.render.number(',')},
        {"data": "quantity", "className": "text-right", render: $.fn.dataTable.render.number(',')},
        {"data": "cost", "className": "text-right", render: $.fn.dataTable.render.number(',', '.', 2, '£' )},
      ]
    }
  );
</script>
