{% if not measure.id %}
<!-- only show sorting and alert signups when showing more than one measure -->
<div class="row" >
  {% if request.GET.tags %}
  <h2>Low Value Prescribing measures</h2>
  <p class="alert alert-info">
    This is an <strong>experimental</strong> list of products considered a low priority for NHS Funding <a href="https://www.england.nhs.uk/2017/07/medicine-consultation/">by NHS England</a>; we welcome feedback.  These are indicative only, and should be approached with caution (<a href='{% url 'faq' %}#measureinterpret'>read more</a>).<br>
    {% if entity_type == 'practice' %}
    <a href="{% url 'measures_for_one_practice' practice.code %}">View standard measures instead</a>.
    {% else %}
    <a href="{% url 'measures_for_one_ccg' ccg.code %}">View standard measures instead</a>.
    {% endif %}
  </p>
{% else %}
  <h2>Prescribing measures</h2>
  <p>We have brought together various prescribing measures to show how this organisation compares with its peers across NHS England. These are indicative only, and should be approached with caution. <a href='{% url 'faq' %}#measureinterpret'>Read more about measures</a>.</p>
{% endif %}

  <div class="row">
    <div class="col-md-6">
      {% include '_alert_signup_form.html' %}
    </div>
    <div class="col-md-6">
      <div id="toggle">
        <p>Sort prescribing measures by:</p>
        <div class="btn-group" id="order">
          <button type="button" data-orderby="percentile" class="btn btn-default active" aria-label="Percentile">
            Potential for improvement
          </button>
          <button type="button" data-orderby="savings" class="btn btn-default" aria-label="Potential savings">
            Potential savings
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<p id="perfsummary">Loading...</p>

<div id="measures">
  <div id="charts" class="row">
    <div class="loading-wrapper col-xs-12">
        <hr/>
        <img class="loading" src="/static/img/logo.svg" onerror="this.src='/static/img/ajax-loader.gif';this.onerror=null;" title="Loading icon">
        <br/>Fetching data...
        <br/><br/>
    </div>
  </div>

  {% verbatim %}
  <script id="summary-panel" type="text/x-handlebars-template">
  <p>{{ performanceDescription }}</p>

  {{ topOpportunity }}

  {{{ costSavings }}}

  </script>
  <div id="overlay"></div>
  <script id="measure-panel" type="text/x-handlebars-template">
  <a name="{{ chartId}}"></a>
  <div id="measure_{{ chartId }}" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 chart" data-id="{{ chartId }}" data-costsaving="{{ costSaving50th }}">
      <div class="panel panel-info">
          <div class="panel-heading">
              <a href="{{ chartTitleUrl }}">{{ chartTitle }}</a>
          </div>
          <div class="panel-body" class="row">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 inner">
                  <p><strong>Why it matters:</strong> {{{ why_it_matters }}}</p>
                  <p><strong>Description:</strong> {{{ description }}}</p>
                 {{#if chartExplanation }}
                  <p><strong>Performance:</strong> {{{ chartExplanation }}}</p>
                 {{/if}}
                  <p><strong>Explore:</strong>
                    <ul>
                     {{#if numeratorCanBeQueried }}
                       {{#if oneEntityUrl }}
                        <li>
                          <a href="{{ oneEntityUrl }}">Break the overall
                           score down into individual presentations</a>
                        </li>
                       {{/if}}
                     {{/if}}
                     <li>
                       <a href="{{ chartTitleUrl }}">Split the measure
                         into charts for individual practices</a>
                     </li>
                     <li><a href="{{ measureUrl }}">Compare all CCGs
                     in England on this measure</a></li>
                    </ul>
                  </p>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="{{ chartId }}">
                  <div class="status"></div>
              </div>
          </div>

      </div>
  </div>
  </script>
  {% endverbatim %}
</div>
