<p><strong>Why it matters</strong>: {{ measure.why_it_matters|safe }}</p>

<p><strong>Description</strong>: {% autoescape off %} {{ measure.description }} {% endautoescape %}

</p>

{% if measure.is_cost_based %}
<p><strong>Performance</strong>: <span id="perfsummary">Loading...</span></p>
{% endif %}


{% if measure.tags_focus %}
  {% if ccg or stp %}
    <p><strong>Explore</strong>:
      <ul>
        <li>
          This is a compound measure.
          <a href="{% url 'measures_for_one_ccg' ccg.code %}?tags={{measure.tags_focus|join:','}}">Break it down into its constituent measures.</a>
        </li>
        {% if measure.numerator_can_be_queried %}
          {% if ccg %}
            <li>
              <a href="{% url 'measure_for_one_ccg' measure.id ccg.code %}">Break the overall score down into individual presentations</a>
            </li>
            <li>
              <a href="{% url 'measure_for_all_ccgs' measure.id %}">Compare all CCGs in England on this measure</a>
            </li>
            <li>
              See <a href="{% url 'measures_for_one_ccg' ccg.code %}">how this CCG is doing on other standard measures</a>
            </li>
          {% elif stp %}
            <li>
              <a href="{% url 'measure_for_one_stp' measure.id stp.code %}">Break the overall score down into individual presentations</a>
            </li>
            <li>
              <a href="{% url 'measure_for_all_stps' measure.id %}">Compare all STPs in England on this measure</a>
            </li>
            <li>
              See <a href="{% url 'measures_for_one_stp' stp.code %}">how this STP is doing on other standard measures</a>
            </li>
          {% endif %}
        {% endif %}
      </ul>
    </p>
  {% endif %}
{% endif %}
