<p>For our newsletter, optionally tell us a little more about yourself:</p>
<form action="{% url 'finalise-signup' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="email" value="{{ request.session.newsletter_email }}">
  <div class="form-group">
    <label for="first_name">First name</label>
    <input type="text" class="form-control" id="first_name" name="first_name">
  </div>
  <div class="form-group">
    <label for="last_name">Last name</label>
    <input type="text" class="form-control" id="last_name" name="last_name">
  </div>
  <div class="form-group">
    <label for="organisation">Organisation</label>
    <input type="text" class="form-control" id="organisation" name="organisation">
  </div>
  <div class="form-group">
    <label for="job_title">Job title</label>
    <input type="text" class="form-control" id="job_title" name="job_title">
  </div>
  <div class="form-group input-group" style="display:none">
    <strong>Please send me email updates about... </strong>
    <ul><li><input type="checkbox" value="1" name="group[6431][1]" id="mce-group[6431]-6431-0" checked><label for="mce-group[6431]-6431-0">OpenPrescribing.net</label></li>
    <li><input type="checkbox" value="2" name="group[6431][2]" id="mce-group[6431]-6431-1"><label for="mce-group[6431]-6431-1">OpenPathology.net</label></li>
  </ul>
  </div>
  <button type="submit" class="btn btn-default">Continue</button>
</form>
