{% extends "base.html" %}
{% load template_extras %}

{% block title %}About{% endblock %}
{% block active_class %}more{% endblock %}

{% block content %}

<h2>About</h2>

<p>OpenPrescribing is one of a range of projects built by Anna Powell-Smith and Ben Goldacre at the <a href="http://ebmdatalab.net">EBM Data Lab</a> to help make complex medical and scientific data more accessible and more impactful in the real world.</p>

<p>It provides a search interface onto the raw <a href="http://www.hscic.gov.uk/gpprescribingdata">prescribing data files</a> published by the Health and Social Care Information Centre (HSCIC).</p>

<p>After several years' gestation, phase 1 of this project leading to beta launch in Dec 2015 was solely funded by the <a href="http://weahsn.net">West of England Academic Health Science Network</a> (£50,000) through Dr. Peter Brindle.</p>

<p>Phase 1 was greatly supported and improved by discussions with Dr Peter Brindle, Richard Croker, Dr Jeff Aronson, Prof Carl Heneghan, Dr Kamal Mahtani, Demeter Sztanko, Joel Hirst, Mark Gregory, Dr Julian Treadwell, and Peter Kirmond. The six initial indicative measures for practices and CCGs were developed in various discussions between Ben Goldacre, Jeff Aronson, Peter Brindle, Kamal Mahtani, and Richard Croker. Thanks all!</p>

<p>This site is currently in beta. If there are additional features you would like to see added to it, or you have any feedback, or bug reports, please tell us. If you have access to funding, we have very big plans for features we would like to add: <a href="mailto:{{ SUPPORT_EMAIL }}" class="doorbell-show">get in touch</a>!</p>

<h3>Citation</h3>

<p>You are welcome to use data or graphs from this site in your academic output with attribution. Our methods paper will be published shortly, until then please cite "OpenPrescribing.net, Powell-Smith A and Goldacre B, 2015" as the source for academic attribution.</p>

<p>If you use data or images from this site online or in a report, please link back to us. Your readers will then be able to see live updates to the data you are interested in, and explore other queries for themselves.</p>

<h3>Code and contributions</h3>

<p>The code that runs this site is available under the MIT Licence at <a href="https://github.com/ebmdatalab/openprescribing">https://github.com/ebmdatalab/openprescribing</a>. We welcome contributions and issues.</p>

<p> We support IE8 and over (with some graceful degradation). We have
an account at <a href="http://www.browserstack.com/">BrowserStack</a> for
cross-platform testing.</p>

<h3 id="sources">Data sources</h3>

<p>Please read our <a href="{% url 'caution' %}">guide to using the data</a>.</p>

<p><strong>Prescribing data</strong> is from the monthly files published by the <a href="http://www.hscic.gov.uk/gpprescribingdata">Health and Social Care Information Centre</a> (HSCIC), used under the terms of the Open Government Licence.</p>

<p><strong>Practice list sizes</strong> are from the <a href="https://apps.nhsbsa.nhs.uk/infosystems/welcome">NHS Business Service Authority's Information Portal</a>, used under the terms of the Open Government Licence. ASTRO-PU and STAR-PUs are calculated from list sizes, based on standard formulas.</p>

<p><strong>BNF codes and names</strong> are also from the <a href="https://apps.nhsbsa.nhs.uk/infosystems/welcome">NHS Business Service Authority's Information Portal</a>, used under the terms of the Open Government Licence.</p>

<p><strong>CCG to practice relations</strong>, and practice prescribing settings, are from <a href="http://systems.hscic.gov.uk/data/ods/datadownloads/index">the HSCIC's data downloads</a> (epraccur.csv), used under the terms of the Open Government Licence.</p>

<p><strong>CCG names and codes</strong> and CCG geographic boundaries are from the <a href="https://geoportal.statistics.gov.uk/geoportal/catalog/main/home.page">Office for National Statistics</a>, used under the terms of the Open Government Licence.</p>

<p><strong>Practice locations</strong> are based on <a href="http://systems.hscic.gov.uk/data/ods/datadownloads/onsdata">data from HSCIC/ONS</a>. Contains OS data © Crown copyright and database right 2016, Royal Mail data © Royal Mail copyright and database right 2016, National Statistics data © Crown copyright and database right 2016.</p>

<h3>Feedback</h3>

<p>We welcome all feedback: please contact us at <a href="mailto:{{ SUPPORT_EMAIL }}" class="doorbell-show">{{ SUPPORT_EMAIL }}</a>.</p>

{% endblock %}

{% block extra_js %}
{% conditional_js 'openprescribing' %}
{% endblock %}
