{% extends "base.html" %}
{% load template_extras %}

{% block title %}About{% endblock %}
{% block active_class %}more{% endblock %}

{% block content %}

<h2>About</h2>

<p>OpenPrescribing is one of a range of projects built by the <a href="http://ebmdatalab.net">EBM DataLab</a> to help make complex medical and scientific data more accessible and more impactful in the real world.</p>

<p>It provides a search interface onto the raw <a href="http://content.digital.nhs.uk/gpprescribingdata">prescribing data files</a> published by NHS Digital.</p>

<p>Phase 1 of this project leading to beta launch in Dec 2015 was funded by the <a href="http://weahsn.net">West of England Academic Health Science Network</a> (£50,000).</p>

<p>OpenPrescribing is currently funded by the National Institute for Health Research School for Primary Care Research (NIHR SPCR). The views expressed are those of the author(s) and not necessarily those of the NIHR, the NHS or the Department of Health.</p>

<p>To find out more about our team, see the <a href="https://ebmdatalab.net/#team">EBM DataLab</a> website.</p>


<p>If there are additional features you would like to see added to this site, or you have any feedback, or bug reports, please tell us. If you have access to funding, we have very big plans: <a href="mailto:{{ SUPPORT_EMAIL }}" class="doorbell-show">get in touch</a>!</p>

<h3>Citation</h3>

<p>You are welcome to use data or graphs from this site in your academic output with attribution. Our methods paper will be published shortly, until then please cite "OpenPrescribing.net, EBM DataLab, University of Oxford, 2017" as the source for academic attribution.</p>

<p>If you use data or images from this site online or in a report, please link back to us. Your readers will then be able to see live updates to the data you are interested in, and explore other queries for themselves.</p>

<h3>Code and contributions</h3>

<p>The code that runs this site is available under the MIT Licence at <a href="https://github.com/ebmdatalab/openprescribing">https://github.com/ebmdatalab/openprescribing</a>. We welcome contributions and issues.</p>

<p> We support IE8 and over (with some graceful degradation). We have
an account at <a href="http://www.browserstack.com/">BrowserStack</a> for
cross-platform testing.</p>

<h3 id="sources">Data sources</h3>

<p>Please read our <a href="{% url 'caution' %}">guide to using the data</a> and our <a href="{% url 'faq' %}">FAQs</a>.</p>

<p><strong>Prescribing data</strong> from August 2010 - December 2016 is from the monthly files published by <a href="http://content.digital.nhs.uk/gpprescribingdata">NHS Digital</a>, used under the terms of the Open Government Licence. From JAnuary 2017, prescribing data is from the Detailed Prescribing Information report on the <a href="https://apps.nhsbsa.nhs.uk/infosystems/welcome">NHS BSA's Information Portal</a>, used under the terms of the Open Government Licence.</p>

<p><strong>Practice list sizes</strong> for August 2010 - September 2016 are from the <a href="https://apps.nhsbsa.nhs.uk/infosystems/welcome">NHS Business Service Authority's Information Portal</a>, used under the terms of the Open Government Licence. From October 2016, practice list sizes are from <a href="http://content.digital.nhs.uk/article/2021/Website-Search?q=number+of+patients+registered+at+a+gp+practice&go=Go&area=both">NHS Digital</a>, used under the terms of the Open Government Licence. ASTRO-PU and STAR-PUs are calculated from list sizes, based on standard formulas.</p>

<p><strong>BNF codes and names</strong> are also from the <a href="https://apps.nhsbsa.nhs.uk/infosystems/welcome">NHS Business Service Authority's Information Portal</a>, used under the terms of the Open Government Licence. You can read more about BNF codes <a href="https://ebmdatalab.net/prescribing-data-bnf-codes/">here</a></p>

<p><strong>CCG to practice relations</strong>, and practice prescribing settings, are from <a href="https://digital.nhs.uk/organisation-data-service/data-downloads">NHS Digital's data downloads</a> (epraccur.csv), used under the terms of the Open Government Licence.</p>

<p><strong>CCG names and codes</strong> and CCG geographic boundaries are from the <a href="https://geoportal.statistics.gov.uk/geoportal/catalog/main/home.page">Office for National Statistics</a>, used under the terms of the Open Government Licence.</p>

<p><strong>Practice locations</strong> are based on <a href="https://digital.nhs.uk/organisation-data-service/data-downloads/national-statistics">data from NHS Digital/ONS</a>. Contains OS data © Crown copyright and database right 2016, Royal Mail data © Royal Mail copyright and database right 2016, National Statistics data © Crown copyright and database right 2016.</p>

<h3>Feedback</h3>

<p>We welcome all feedback: please contact us at <a href="mailto:{{ SUPPORT_EMAIL }}" class="doorbell-show">{{ SUPPORT_EMAIL }}</a>.</p>

{% endblock %}

{% block extra_js %}
{% conditional_js 'openprescribing' %}
{% endblock %}
