{% extends "base.html" %}
{% load template_extras %}

{% block title %}All practices{% endblock %}
{% block active_class %}practice{% endblock %}

{% block content %}

<h1>Find a practice</h1>

<p>Search for a practice by name, and see how this practice compares with its peers across the NHS in England.</p>

<input class="form-control" id="search" placeholder="Search by practice name or postcode" />

<ul class="list-unstyled" id="all-results">

</ul>

{% endblock %}

{% block extra_js %}
<script>
var inputSearch = '#search',
  resultsList = '#all-results',
  allItems = [];
{% for p in practices %}
var practice = {
    name: '{{ p.name }} ',
    code: '{{ p.postcode }}{{ p.inactive_status_suffix }}',
    url: "{% url 'measures_for_one_practice' p.code %}"
};
allItems.push(practice);
{% endfor %}
</script>
{% conditional_js 'list-filter' %}
{% endblock %}
