{% extends "base.html" %}
{% load staticfiles %}
{% load template_extras %}

{% block title %}All PCNs{% endblock %}
{% block active_class %}pcn{% endblock %}

{% block content %}

{% if pcns_enabled %}

  <h1>Find a PCN</h1>

  <p>Search for a Primary Care Network by name or code</p>

  <input class="form-control" id="search" placeholder="Search by PCN name or code" data-min-search-length="3" />
  <ul class="list-unstyled" id="all-results">
  </ul>

{% else %}

  <h1>Primary Care Networks</h1>

  <p>
    PCNs were formed in June 2019. We would love to be able to show you a list
    of PCN dashboards here, just like we do for all practices, CCGs, STPs and
    Regional Teams. We have all the necessary <a
      href="https://github.com/ebmdatalab/openprescribing/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aclosed+created%3A%3C2019-07-18+in%3Atitle+PCN+">code</a>
    and infrastructure for this built already. Sadly, however, the NHS does not
    currently share a dataset listing which GP practice is in which PCN, so
    we&rsquo;re unable to make this feature live.
  </p>

  <p>
    {# Delete this file when we remove this text #}
    <img src="{% static 'img/pcn-flowchart.png' %}" class="img-responsive center-block" style="max-width: 600px">
  </p>

  <p>
    We have written a more detailed blog <a
      href="https://ebmdatalab.net/custom-organisation-groupings-openprescribing-plan-for-organisations-like-primary-care-networks/">here</a>
    about custom organisations and you can also contact <a
      href="https://www.england.nhs.uk/contact-us/">NHS England</a> and the <a
      href="https://digital.nhs.uk/services/organisation-data-service">NHS
      Organisation Data Service</a> to let them know that this list is
    important to support your work locally.
  </p>

  <p>
    We have received several offers of PCN lists for specific areas of the
    country.  These are generous offers. However, we cannot maintain, aggregate
    and verify a crowd-sourced list of PCN data.
  </p>

{% endif %}

{% endblock %}

{% block extra_js %}
{{ pcn_data|json_script:"js-pcn-data" }}
<script>
  var inputSearch = '#search';
  var resultsList = '#all-results';
  var allItems = JSON.parse(
    document.getElementById('js-pcn-data').innerHTML
  );
</script>
{% conditional_js 'list-filter' %}
{% endblock %}
