{% extends "base.html" %}
{% load static %}
{% load template_extras %}

{% block title %}All Hospitals{% endblock %}
{% block active_class %}dashboards{% endblock %}

{% block content %}

{% if hospitals_enabled %}

  <h1>Find a Hospital</h1>

  <p>Search for a Hospital by name or code</p>

  <input class="form-control" id="search" placeholder="Search by Hospital name or code" data-min-search-length="3" />
  <ul class="list-unstyled" id="all-results">
  </ul>

{% else %}

 <h1>OpenPrescribing Hospitals - coming soon</h1>


<p>With the support of the NHS Primary Care and Medicines Analytics Unit we have started to build OpenPrescribing Hospitals. 
Every month, NHS England publishes processed pharmacy stock control data in the form of the [Secondary Care Medicines Dataset (SCMD)](https://opendata.nhsbsa.net/dataset/secondary-care-medicines-data-indicative-price). The [full technical specification](https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fraw.githubusercontent.com%2Fpaulwestrip%2FOpen-Data-Portal-Documentation%2Fmain%2FSecondary%2520Care%2520Medicines%2520Data%2520%2520Release%2520Guidance%2520v003.odt&wdOrigin=BROWSELINK) of the SCMD is available to read, but briefly: it is hospital pharmacy stock control data, which is collected and processed by Rx-Info, and is now published on the NHS Business Services Authority website in the [NHS dm+d standard](https://www.bennett.ox.ac.uk/blog/2019/08/what-is-the-dm-d-the-nhs-dictionary-of-medicines-and-devices/). We have been spending time learning more about the data and carefully curating the data ready for use in OpenPrescribing Hospitals.
OpenPrescribing Hospitals allows easy exploration of the SCMD through a set of curated measures and a custom analysis builder. We have used our domain knowledge to make exploring this data easier for a wider group of people.

<h2>Sneak preview…</h2>

<h3>
<p id="gdcalert1" ><span style="color: red; font-weight: bold">>>>>>  gd2md-html alert: inline image link here (to images/image1.png). Store image on your image server and adjust path/filename/extension if necessary. </span><br>(<a href="#">Back to top</a>)(<a href="#gdcalert2">Next alert</a>)<br><span style="color: red; font-weight: bold">>>>>> </span></p>

![alt_text](images/image1.png "image_tooltip")
</h3>

We are working hard to include similar features to OpenPrescribing.net including
  
* A custom ‘analyse page’
* Pre-built curated measures based on NHS England Medicines Optimisation Opportunities / medicines safety topics which we will expand over time
* A summary of data submitted by NHS secondary care organisations

<h3>We will share an early version of this tool in the near future and look forward to hearing your feedback. </h3>
{% endif %}

{% endblock %}
