{% extends "base.html" %}
{% load template_extras %}

{% block title %}Analyse{% endblock %}
{% block active_class %}analyse{% endblock %}

{% block extra_css %}
<link href="/static/css/select2.min.css" rel="stylesheet">
<link href="/static/css/jquery.nouislider.css" rel="stylesheet">
<link href="/static/css/jquery.nouislider.pips.css" rel="stylesheet">
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
{% endblock %}

{% block content %}

<h1>Search GP prescribing data</h1>

<p>Search 700 million rows of prescribing data, and get prescribing information by CCG or practice. You can search for any numerator over any denominator. For example, prescriptions by CCG for <a target="_blank" href="{% url 'analyse' %}#numIds=0212000AA&denomIds=2.12">branded Rosuvastatin as a proportion of all lipid-regulating drugs <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>; or for <a target="_blank" href="{% url 'analyse' %}#numIds=0212000AA&denomIds=0212000B0">Rosuvastatin vs generic Atorvastatin <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>; or for <a target="_blank" href="{% url 'analyse' %}#numIds=0205051I0&denomIds=2.5.5">Enalapril as a proportion of its drug class <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>. Add the name of a CCG or practice to check how an organisation compares with its peers. Don't forget to look at time trends, and maps!</p>

<p>Unsure how to create your own searches? <a href="http://openprescribing.net/docs/analyse">Read more</a> about how to use this tool.</p>

<div class="alert alert-danger" role="alert" style="margin-top: 10px;" id="old-browser">
  <strong>Warning!</strong> It looks like you're using an older browser. This form may be very slow, as it has to crunch through a lot of data to render the graphs. If you can, please try again with a modern browser.
</div>

{% include '_get_in_touch.html' %}

<div id="loading-form">
<p>Loading search form...</p>
</div>
<div id="analyse-options" class="invisible">

    <div class="form-row">
        <div class="col left">See prescribing by:</div>
        <div class="col middle">
            <select style="width: 100%" id="org" class="form-select not-searchable">
                <!-- <option value="all" selected>everyone</option> -->
                <option value="CCG">a CCG or CCGs</option>
                <option value="practice">a practice or practices</option>
            </select>
        </div>
        <div class="col right">
            <div id="orgIds-container" style="display: none">
                <select style="width: 100%" id="orgIds" multiple="multiple">
                </select>
                <p class="help-block" id="org-help">Hint: add a CCG to see all its practices</p>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col left">
        <span class="help" id="numerator-help" data-toggle="popover" data-trigger="hover" data-placement="auto top">on:</span>
        <div class="hidden" id="numerator-help-text">You can add BNF sections, chemicals, products or product format.<br/>For example:
        <ul>
        <li><em>Atorvastatin</em> will show all prescribing on the chemical, across multiple products</li>
        <li><em>Lipitor (branded)</em> will show all prescribing on just that product</li>
        <li><em>Lipitor_Tab 20mg</em> will show all prescribing on just that product format.</li>
        </ul>
        Add multiple items to see total prescribing on those items.
        </div>
            <!-- <span class="icon-up"></span>with a y-axis of: -->
        </div>
        <div class="col middle">
            <select style="width: 100%" id="num" class="form-select not-searchable">
                <option value="chemical" selected>drugs or BNF sections</option>
                <!-- <option value="all">everything</option> -->
            </select>
        </div>
        <div class="col right">
            <div id="numIds-wrapper">
                <select id="numIds" multiple="multiple" style="width: 100%"></select>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col left">
        <span class="help" id="denominator-help" data-toggle="popover" data-trigger="hover" data-placement="auto top">versus:</span>
        <div class="hidden" id="denominator-help-text">Add another BNF section or drug as a comparator.<br/>Or use standardised prescribing units (STAR-PUs) as an approximate measure of prescribing need.</div>
            <!-- <span class="icon-right"></span>and an x-axis of: -->
        </div>
        <div class="col middle">
            <select style="width: 100%" id="denom" class="form-select not-searchable">
                <option value="chemical" selected>drugs or BNF sections</option>
                <option value="total_list_size" selected>total list size</option>
                <option value="star_pu.oral_antibacterials_item">STAR-PUs for antibiotics</option>
            </select>
        </div>
        <div class="col right">
            <div id="denomIds-wrapper">
                <select id="denomIds" multiple="multiple" style="width: 100%"></select>
            </div>
        </div>
    </div>
    <p>
      <a href="/docs/analyse/">Tips on using this search</a>
    </p>
    <div>
        <button type="button" id="update" class="btn btn-primary" type="submit" data-loading-text="Fetching data..." data-loaded-text="Show me the data!">Show me the data!</button>
    </div>

</div> <!-- /#analyse-options -->

<div class="loading-wrapper">
    <hr/>
    <img class="loading" src="/static/img/logo.svg" onerror="this.src='/static/img/ajax-loader.gif';this.onerror=null;" title="Loading icon">
    <br/>Fetching data...
</div>

<div id="error">
<hr/><p id='error-message'></p>
</div>

<div id="results">
<hr/>

{% include '_share_button.html' %}

<ul id="tabs" class="nav nav-tabs" role="tablist">
  <li role="presentation" id="summary-tab" class="summary-tab active">
    <a href="#summary-panel" data-target="#summary-panel" aria-controls="settings" role="tab" data-toggle="tab">Show summary</a>
  </li>
  <li role="presentation" id="chart-tab" class="chart-tab hidden">
    <a href="#chart-panel" data-target="#chart-panel" aria-controls="settings" role="tab" data-toggle="tab">Show over time</a>
  </li>
  <li role="presentation" id="map-tab" class="map-tab hidden">
    <a href="#map-panel" data-target="#map-panel" aria-controls="settings" role="tab" data-toggle="tab">Show on map</a>
  </li>
  <li role="presentation" id="data-tab" class="data-tab hidden">
    <a href="#data-panel" data-target="#data-panel" aria-controls="settings" role="tab" data-toggle="tab">Get raw data</a>
  </li>
</ul>

<div class="tab-content">

    <!-- Time slider and items toggle -->
    <div id="chart-options">
        <div id="chart-options-wrapper">
            <div id="slider-wrapper"><div id="chart-date-slider"></div></div>
            <div id="items-spending-toggle" class="btn-group btn-toggle" aria-label="Show spending or items on graph">
                <button class="btn btn-default btn-sm" data-type="actual_cost">spending</button>
                <button class="btn btn-info btn-sm" data-type="items">items</button>
            </div>
        </div>
    </div>

    <!-- Tab content -->
    <div role="tabpanel" class="tab-pane fade in active" id="summary-panel" class="summary-tab">
        <div class="chart-title-wrapper">
            <div class="chart-title"></div>
            <div class="chart-sub-title"></div>
        </div>
        <div class="chart-container">
            <div id="summarychart"></div>
            <div class="practice-warning">
                For clarity, practice graphs and maps only show standard GP practices, and exclude non-standard settings like prisons, out-of-hours services, etc.
            </div>
            <div class="highcharts-attribution">
                Built with <a href="http://www.highcharts.com/">Highcharts</a>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="chart-panel" class="chart-tab">
        <div class="chart-container">
            <div id="chart"></div>
            <div class="practice-warning">
                For clarity, practice graphs and maps only show standard GP practices, and exclude non-standard settings like prisons, out-of-hours services, etc.
            </div>
            <div class="highcharts-attribution">Built with <a href="http://www.highcharts.com/">Highcharts</a></div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="map-panel" class="map-tab">
      <div class="chart-title-wrapper">
        <p class="chart-title"></p>
        <p class="chart-sub-title"></p>
      </div>
      <div id="map-wrapper">
        <div id="map"></div>
      </div>
        <div class="practice-warning">
        For clarity, practice graphs and maps only show standard GP practices, and exclude non-standard settings like prisons, out-of-hours services, etc.
        CCG boundaries from <a href="http://www.england.nhs.uk/resources/ccg-maps/">NHS England</a>. Practice locations are approximate, based on postcode. Only practices with a known location are shown here.
        </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="data-panel" class="data-tab">
      <p>If you use this data, please credit this site.</p>
      <p><a id="data-link" href="#">Data as CSV</a> <span id="data-rows-count"></span></p>
    </div>

</div>

</div>

<br/>

{% load crispy_forms_tags %}
{% if not signed_up_for_alert %}
<div id="alert-form-container">
  Get monthly alerts about this analysis:
  <form method="post" class="form form-inline" id="alert-form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form | crispy }}
    <input class="btn btn-primary" type="submit" value="Subscribe">
    {% if request.user.is_superuser %}
      <a id="preview-analyse-bookmark" href="{% url 'preview-analyse-bookmark' %}?url=" class="btn btn-danger">Preview alert email</a>
    {% endif %}
  </form>
</div>
<br/>
{% endif %}

<p>Read our notes on <a href="{% url 'caution' %}">understanding the data</a>. Found something interesting, or a bug? Get in touch: <a href="mailto:{{ SUPPORT_EMAIL }}" class="doorbell-show">{{ SUPPORT_EMAIL}}</a></p>


{% endblock %}

{% block extra_js %}
<!--[if !IE 8]><!-->
  <script src="/static/js/clipboard.min.js?q=123456"></script>
<!--<![endif]-->
{% conditional_js 'openprescribing' %}
{% endblock %}
