{% extends "base.html" %}
{% load humanize %}
{% load template_extras %}

{% block title %}BNF {{ section.number_str}}: {{ section.name }}{% endblock %}
{% block active_class %}trends{% endblock %}

{% block content %}

{% if section %}
<h1>{{ section.number_str}}: {{ section.name }}</h1>
{% if bnf_chapter %}
<p class="lead">Part of chapter <a href="{% url 'bnf_section' bnf_chapter.bnf_id %}">{{ bnf_chapter.number_str }} {{ bnf_chapter.name }}</a>{% if bnf_section %}, section <a href="{% url 'bnf_section' bnf_section.bnf_id %}">{{ bnf_section.number_str }} {{ bnf_section.name }}</a>{% endif %}
</p>
{% endif %}
{% endif %}

<hr/>

<p>High-level prescribing trends for {{ section.name }} (BNF section {{ section.number_str }}) across all GP practices in NHS England for the last five years. You can <a href="{% url 'analyse' %}#numIds={{ section.number_str }}">explore prescribing trends for this section by CCG</a>, or learn more <a href="{% url 'about' %}#sources">about this site</a>.</p>

{% include '_chart.html' %}

{% include '_get_in_touch.html' %}

{% if subsections %}
<h3>Subsections</h3>
{% for subsection in subsections %}
<a class="subsection" href="{% url 'bnf_section' subsection.bnf_id %}">{{ subsection.number_str }}: {{ subsection.name }}</a><br/>
{% endfor %}
{% endif %}

{% if chemicals %}
<h3>Chemicals</h3>
{% for chemical in chemicals %}
<a href="{% url 'chemical' chemical.bnf_code %}">{{ chemical.chem_name }} ({{ chemical.bnf_code }})</a><br/>
{% endfor %}
{% endif %}

<div id="download-data">
<h3>Download raw data</h3>
<p>Download CSVs:
<a href="{% url 'total_spending' %}?code={{ page_id }}&format=csv">all data on {{ section.name }}</a> or
<a href="{% url 'spending_by_ccg' %}?code={{ page_id }}&format=csv">data on {{ section.name }} by CCG</a>.
</p>
</div>

{% endblock %}

{% block extra_js %}
{% conditional_js 'config' %}
<script>
var filename = config.apiHost + "{% url 'total_spending' %}?format=json&code={{ page_id }}";
var pageType = 'bnf-section';
</script>
{% conditional_js 'bar-charts' %}
{% endblock %}
