{% extends "base.html" %}
{% load template_extras %}

{% block title %}Caution{% endblock %}
{% block active_class %}more{% endblock %}

{% block content %}

<h2>Caution: how to use the data responsibly</h2>

<p>This site is intended to be an accessible window onto prescribing data published by the <a href="http://www.hscic.gov.uk/gpprescribingdata">Health and Social Care Information Centre</a> (HSCIC). Prescribing data requires careful interpretation. Here's how to use it responsibly.</p>

<h3 id="understanding">Understanding the data</h3>

<p>We strongly recommend reading the HSCIC's <a href="http://www.hscic.gov.uk/gpprescribingdata">introduction to prescribing data</a>, including their excellent <a href="http://www.hscic.gov.uk/media/10048/FAQs-Practice-Level-Prescribingpdf/pdf/PLP_FAQs_April_2015.pdf">FAQ</a> (PDF) and <a href="http://www.hscic.gov.uk/media/10686/Download-glossary-of-terms-for-GP-prescribing---presentation-level/pdf/PLP_Presentation_Level_Glossary_April_2015.pdf">glossary of terms</a> (PDF).</p>

<p>Just because a practice or CCG is an outlier for high or low use of a particular treatment, that doesn't necessarily mean they are good or bad prescribers. These are <em>measures</em> rather than <em>indicators</em>, and they need to be interpreted judiciously.</p>

<p>For example, a practice that prescribes a lot of benzodiazepines may have a lower threshold for prescribing them, or may run a specialist service for people with substance misuse, or have one doctor with an interest in - and long list of - such patients.</p>

<h3 id="denominators">Using the right denominators</h3>

<p>We use this site a lot for our own work and our own research. When we use the <a href="{% url 'analyse' %}">analysis page</a>, we find it useful to choose denominators cautiously.</p>

<p>You can use "list size" which tells you how many patients a practice covers, but this can be problematic, because different practices will have different kinds of patients, some with lots of older people, and so on.</p>

<p>To account for this the NHS uses imperfect but useful "adjusted" denominators called STAR-PUs, which try to account for the age and sex structure of the practice's population. These STAR-PUs are specific to specific disease areas, because they try to account for different rates of usage -- in different age bands of the population - for specific treatment. So for the STAR-PU for cardiovascular disease prevention prescribing, for example, gives you extra points for every man aged 40-50, even more for men aged 50-60, and so on; but less for women in the same bands, and very little for younger people.</p>

<p>Generating these STAR-PUs for each practice, each disease area, and each month, takes coder time, so we currently only have the STAR-PU for antibiotics.</p>

<p>When using the data ourselves we tend to use more thoughtful approaches to try to "bake in" population prevalence or need for a particular condition, or to explore different prescribing patterns. For example, we often use whole classes of drug as the denominator in our analyses, as in the video walkthroughs; or we compare the use of one drug against the use of another. When looking at whether a practice is using a lot of Nexium (an expensive "proton pump inhibitor" pill for treating ulcers) we might look at "Nexium prescribing" versus "all proton pump inhibitor prescribing" (<a href="{% url 'analyse' %}#org=CCG&numIds=0103050E0BB&denomIds=1.3.5">example</a>).</p>

<p>Play around and <a href="mailto:{{ SUPPORT_EMAIL }}" class="doorbell-show">let us know</a> if you find anything interesting, or develop any interesting methods.</p>

<h3 id="metrics">Our prescribing measures</h3>

<p>There are currently a few standard prescribing measures on the dashboard pages for <a href="{% url 'all_ccgs' %}">CCGs</a> and <a href="{% url 'all_practices' %}">practices</a>, to get you going. These were developed in discussion between Drs Jeff Aronson, Kamal Mahtani, and Ben Goldacre at the University of Oxford, and Richard Croker from South Devon CCG. They are indicative of what the site can do.</p>

<div class="alert alert-danger" role="alert" style="max-width: 800pxt">
<strong>Warning!</strong> These are important measures, but they should be interpreted thoughtfully. There may be good reasons why a practice is prescribing more or less of something than other practices in the country, e.g. they may have a very different patient population to the national average.
</div>

<h3 id="disclaimer">Our disclaimer</h3>

<p>We accept no liability for any errors in the data or its publication here: use this data at your own risk. You should not use this data to make individual prescribing decisions.</p>

{% endblock %}

{% block extra_js %}
{% conditional_js 'openprescribing' %}
{% endblock %}
