{% extends "base.html" %}

{% block title %}Caution{% endblock %}
{% block active_class %}more{% endblock %}

{% block content %}

<h2>Caution: how to use the data responsibly</h2>

<p>Prescribing data requires careful interpretation. Here's how to use it responsibly.</p>

<h3>Understanding the data</h3>

<p>We strongly recommend reading the HSCIC's <a href="http://www.hscic.gov.uk/gpprescribingdata">introduction to prescribing data</a>, including their excellent <a href="http://www.hscic.gov.uk/media/10048/FAQs-Practice-Level-Prescribingpdf/pdf/PLP_FAQs_April_2015.pdf">FAQ</a> (PDF) and <a href="http://www.hscic.gov.uk/media/10686/Download-glossary-of-terms-for-GP-prescribing---presentation-level/pdf/PLP_Presentation_Level_Glossary_April_2015.pdf">glossary of terms</a> (PDF).</p>

<h3>Using the right denominators</h3>

<p>TBA.</p>

<h3>Our prescribing metrics</h3>

<p>TBA.</p>

<h3>Our disclaimer</h3>

<p>We accept no liability for any errors in the data: use this data at your own risk. You should not use this data to make individual prescribing decisions.</p>

{% endblock %}

{% block extra_js %}
<script src="/static/js/openprescribing.min.js?q=123456"></script>
{% endblock %}