{% extends "base.html" %}
{% load humanize %}
{% load template_extras %}

{% block title %}{{ chemical.chem_name }}: BNF Code {{ chemical.bnf_code }}{% endblock %}
{% block active_class %}bnf{% endblock %}

{% block content %}

<h1>{{ chemical.chem_name }} ({{ chemical.bnf_code }})</h1>

<p class="lead">Part of chapter
<a href="{% url 'bnf_section' bnf_chapter.bnf_id %}">{{ bnf_chapter.number_str }} {{ bnf_chapter.name }}</a>, section <a href="{% url 'bnf_section' bnf_section.bnf_id %}">{{ bnf_section.number_str }} {{ bnf_section.name }}</a>{% if bnf_para %}, paragraph
<a href="{% url 'bnf_section' bnf_para.bnf_id %}">{{ bnf_para.number_str }} {{ bnf_para.name }}</a>
{% endif %}
</p>

<hr/>

<p>High-level prescribing trends for {{ chemical.chem_name }} (BNF code {{ chemical.bnf_code }}) across all GP practices in NHS England, since August 2010. You can see <a href="{% url 'analyse' %}#numIds={{ chemical.bnf_code }}&denomIds={% if bnf_para %}{{ bnf_para.number_str }}{% else %}{{ bnf_section.number_str }}{% endif %}">which CCGs prescribe most of this chemical</a> relative to its class, or learn more <a href="{% url 'about' %}#sources">about this site</a>.</p>

{% include '_chart.html' %}

{% include '_get_in_touch.html' %}

<div id="download-data">

<h3>Download raw data</h3>
<p>
Download CSV:
<a href="{% url 'total_spending' %}?code={{ page_id }}&format=csv">all data on {{ chemical.chem_name }}</a> or
<a href="{% url 'spending_by_ccg' %}?code={{ page_id }}&format=csv">data on {{ chemical.chem_name }} by CCG</a.
</p>
</div>

{% endblock %}

{% block extra_js %}
{% conditional_js 'config' %}
<script>
var filename = config.apiHost + "{% url 'total_spending' %}?format=json&code={{ page_id }}";
var pageType = 'chemical';
</script>
{% conditional_js 'bar-charts' %}
{% endblock %}
