{% extends "base.html" %}
{% load humanize %}
{% load template_extras %}

{% block title %}Prescribing measures for {{ entity.name }}{% endblock %}
{% block active_class %}{{ entity_type|lower }}{% endblock %}
{% block container_class %}landing-page{% endblock %}

{% block extra_css %}
<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
{% endblock extra_css %}

{% block content %}

<div class="row" id="intro">
  <div class="col-md-6">
    <h1>{{ entity.cased_name }}</h1>
    {% if entity_type == 'CCG' %}
      <p>There are {{ practices.count }} practices currently in this {{ entity_type }}. <a id="showall" href="#">&raquo; show them...</a></p>
      <ul class="list-unstyled" id="practices">
      {% for p in practices %}
        <li class="hidden">
          <a href="{% url 'practice_home_page' p.code %}">{{ p }}</a>
          ({{ p.get_setting_display }})
        </li>
      {% endfor %}
      </ul>
    {% else %}
      <p>Address: {{ entity.address_pretty }}</p>
      {% if entity.ccg %}
      <p>Part of CCG:
        <a href="{% url 'ccg_home_page' entity.ccg.code %}">{{ entity.ccg.name }}</a>
      </p>
      {% endif %}
    {% endif %}
  </div>
  <div class="col-md-6" id="map-container">
    <div class="center-block" id="map-measure"></div>
  </div>
</div>

<hr/>
<div class="row" id="measures">
  <div class="col-md-6">
    <div class="landing-panel">
      <h3><a href="{% url measures_for_one_entity_url entity.code %}" class="unstyled-link">Standard measures</a></h3>
      <div class="row">
        <div class="col-md-12">
          <p class="measure-description">Our {{ measures_count }} standard measures compare performance across England. This is the measure where {{ entity.cased_name }} has the greatest potential for improvement.  <a href="{% url measures_for_one_entity_url entity.code %}">View all {{ measures_count }} measures...</a></p>
        </div>
        <div class="col-md-12">
          <div id="top-measure-container" class="row">
            <div class="loading-wrapper loading">
              <img class="loading" src="/static/img/logo.svg" onerror="this.src='/static/img/ajax-loader.gif';this.onerror=null;" title="Loading icon">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="visible-sm">
  <div class="col-md-6">
    <div class="landing-panel">
      <h3><a href="{% url measures_for_one_entity_url entity.code %}?tags=lowpriority" class="unstyled-link">NHS low priority measures</a></h3>
      <div class="row">
        <div class="col-md-12">
          <p class="measure-description">These are measures about low-value items which NHS England says should not routinely prescribed in primary care. This is the ranking of {{ entity.cased_name }} for all low-value items combined.  <a href="{% url measures_for_one_entity_url entity.code %}?tags=lowpriority">View the 17 measures...</a></p>
        </div>
        <div class="col-md-12">
          <div id="lpzomnibus-container" class="row">
            <div class="loading-wrapper loading">
              <img class="loading" src="/static/img/logo.svg" onerror="this.src='/static/img/ajax-loader.gif';this.onerror=null;" title="Loading icon">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" >
  <div class="col-md-12">
    We also have measures for
    <a href="{% url measures_for_one_entity_url entity.code %}?tags=lowpriorityconsultation">
      items currently under consultation
    </a>
    for inclusion on the low-value list,
    plus you can browse all of our measures by topic:
    <small class="js-hide-long-list" data-max-items="7">
      {% for tag, tag_details in measure_tags %}
        <a href="{% url measures_for_one_entity_url entity.code %}?tags={{ tag }}">
          {{ tag_details.name }}{% if not forloop.last %},{% endif %}
        </a>
      {% endfor %}
    </small>
  </div>
</div>

<hr>

<div class="row" >
  <div class="col-md-6">
    <div class="landing-panel">
      <h3><a href="{% url entity_price_per_unit_url entity.code %}" class="unstyled-link">Savings on individual presentations</a></h3>
      <p>Every month, we identify the biggest cost saving opportunities for {{ entity.cased_name }}. We also indicate cheaper options, based on what others have prescribed.</p>
      {% if possible_savings %}
      <div class="col-md-4 ppu-on-landing-page bigtext">
        <span>&pound;{{ possible_savings|floatformat:"0"|intcomma }}</span>
      </div>
      <div class="col-md-8">The <strong>theoretical maximum</strong> of savings this {{ entity_type }} could have saved
        this month through prescription switches. <a href="{% url entity_price_per_unit_url entity.code %}">Read more...</a>
      </div>
      {% else %}
      <div class="bigtext">
        <span>
          ☺ No savings this month!
        </span>
      </div>
      <p><a href="{% url entity_price_per_unit_url entity.code %}">Read more...</a></p>
      {% endif %}
    </div>
  </div>
  <hr class="visible-sm">
  <div class="col-md-6">
    <div class="landing-panel">
      <h3>
        <a href="{% url spending_for_one_entity_url entity.code %}" class="unstyled-link">
          Price concessions cost
        </a>
      </h3>
      {% if ncso_spending %}
        <p>
          We estimate that in <strong>{{ ncso_spending.month|date:"F Y" }}</strong>
          price concessions for out-of-stock medicines will cost {{ entity.cased_name }}
          an additional<br>
          <span style="font-size: 48px">
            &pound;{{ ncso_spending.additional_cost|floatformat:"0"|intcomma }}
          </span>
        </p>
        <p>
          See the full breakdown of this estimate, and view costs for other months on
          the <a href="{% url spending_for_one_entity_url entity.code %}">
            price concessions dashboard.
          </a>
        </p>
      {% else %}
        <p>
          We don't have current data for the impact of price concessions on
          {{ entity.cased_name }}. For historical data see the
          <a href="{% url spending_for_one_entity_url entity.code %}">
            price concessions dashboard.
          </a>
        </p>
      {% endif %}
    </div>
  </div>
</div>

<hr>

<div class="row" >
  <div class="col-md-6">
    <div class="landing-panel">
      <h3>Ghost-branded generics</h3>
      <strong>New</strong>: many practices are mistakenly prescribing generics as if they are brands.
      See a list of generics that may be affected
      <a href="{% url entity_ghost_generics_url entity.code %}">here</a>.
      <span id="ghost-total-text" class="invisible">
        {{ entity.cased_name }} <span id="ghost-total"></span>.
      </span>
    </div>
  </div>
  <div class="col-md-6">
    <div class="landing-panel">
      <h3>Sign up for alerts or updates</h3>
      {% include '_alert_signup_form.html' %}
    </div>
  </div>
</div>

<hr>

<div class="row" >
  <div class="col-md-6">
    <div class="landing-panel">
      <h3>Looking for more data?</h3>
      <p>
        Try our <a href="{% url 'analyse' %}">Analyse form</a> which allows you
        run custom analyses on prescribing data for this {{ entity_type }}.
      </p>
      <p>
        We can also provide custom extracts from our prescribing data for free.
        <a href="mailto:{{ SUPPORT_TO_EMAIL }}" class="feedback-show">Get in touch</a>
        to find out more.
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="landing-panel">
    </div>
  </div>
</div>

{% verbatim %}
<script id="summary-panel" type="text/x-handlebars-template">
  {{ costSavings }}
</script>
<script id="measure-panel" type="text/x-handlebars-template">
    <div class="panel panel-info">
      <div class="panel-heading">
        <a href="{{ chartTitleUrl }}">{{ chartTitle }}</a>
      </div>
      <div class="panel-body" id="{{ chartId }}" data-costsaving="{{ cost_saving }}">
        <div class="chart">
          <div class="status"></div>
        </div>
      </div>
      <div class="explanation">{{{ chartExplanation }}}</div>
    </div>
</script>
{% endverbatim %}

{% endblock %}

{% block extra_js %}
<script>
  var maxZoom = 6;
  $.getJSON(
    "/api/1.0/ghost_generics/?entity_code={{ entity.code }}&date={{ date|date:"Y-m-d"}}&entity_type={{ entity_type }}&group_by=all&format=json", function(data) {
    function numberWithCommas(x) {
        return Math.round(x).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
    var savings = data[0]['possible_savings'];
    var formatted_savings = numberWithCommas(savings);
    if (savings >= 20) {
       msg = "may be paying at least <strong>£" + formatted_savings + "</strong> more than necessary this month";
    } else  {
       msg = "is not significantly affected by the problem this month";
    }
    $('#ghost-total').html(msg);
    $('#ghost-total-text').css('visibility', 'visible');

  });
</script>
{{ measure_options|json_script:"measure-options" }}
{% conditional_js 'measures' %}
{% endblock %}
