<p>Hello!</p>

<p>
	This is an important safety update about {{ org_name }} from OpenPrescribing.
	Last night the MHRA issued a safety alert and advised that patients taking <strong>Esmya (ulipristal acetate)</strong> for uterine fibroids should <strong>STOP</strong> their treatment <strong>IMMEDIATELY</strong>.
	We have identified that your organisation has issued prescriptions for <strong>Esmya (ulipristal acetate)</strong> in the last three months.
	You should:
</p>

<ul>
	<li>Use your clinical system to identify the patients taking <strong>Esmya (ulipristal acetate)</strong> and those who have recently stopped</li>
	<li>Phone or text them to advising them to <strong>IMMEDIATELY STOP TREATMENT</strong></li>
	<li>Advise people who are stopping treatment and recent users to seek immediate medical attention if they develop signs and symptoms of liver injury (nausea, vomiting, malaise, right hypochondrial pain, anorexia, asthenia or jaundice)</li>
	<li>Arrange liver function tests for two to four weeks time</li>
</ul>

<p>
	You can read more detail on the <a href="https://www.gov.uk/drug-safety-update/esmya-ulipristal-acetate-suspension-of-the-licence-due-to-risk-of-serious-liver-injury">MHRA website here</a>
	and see your prescribing on <a href="{{ url }}">OpenPrescribing here</a>.
</p>
