{% extends "base.html" %}
{% load template_extras %}

{% block title %}FAQs{% endblock %}
{% block active_class %}more{% endblock %}

{% block content %}


<h1>FAQs</h1>

<p>We strongly recommend reading NHS Digital's <a href="http://content.digital.nhs.uk/gpprescribingdata">introduction to prescribing data</a>, including their excellent <a href="http://content.digital.nhs.uk/media/10048/FAQs-Practice-Level-Prescribingpdf/pdf/PLP_FAQs_April_2015.pdf">FAQ</a> (PDF) and <a href="http://content.digital.nhs.uk/media/10686/Download-glossary-of-terms-for-GP-prescribing---presentation-level/pdf/PLP_Presentation_Level_Glossary_April_2015.pdf">glossary of terms</a> (PDF).</p>

<p>Is your question not listed below? Send us a message <a href="mailto:{{ SUPPORT_EMAIL }}" class="doorbell-show">here</a> and we'll get back to you</p>

<h2>General</h2>
<p><a href="#siteupdate">When do you update the site?</a></p>
<p><a href="#extractdownload">How do I download an extract of the data?</a></p>
<p><a href="#cite">How do I cite OpenPrescribing?</a></p>
<p><a href="#timeperiod">What time period does the dataset cover?</a></p>

<h2>Prescribing data</h2>
<p><a href="#datasource">Where do you get the data from?</a></p>
<p><a href="#patientinfo">Is there any patient age or disease information in the dataset?</a></p>
<p><a href="#prescitem">What is a prescription item?</a></p>
<p><a href="#prescquantity">What does quantity mean?</a></p>
<p><a href="#actualcost">What is actual cost?</a></p>
<p><a href="#bnfchange">How do you deal with BNF code changes?</a></p>
<p><a href="#ccgchange">How do you determine CCG membership when GP practices have moved CCGs or CCGs have merged?</a></p>

<h2>Analyse</h2>
<p><a href="#analysetutorial">How do I use the analyse page?</a></p>
<p><a href="#denominator">What denominator should I use?</a></p>
<p><a href="#appliance">How can I search for appliance data?</a></p>

<h2>CCG &amp; GP Dashboards</h2>
<p><a href="#measureinterpret">How do I interpret the measures?</a></p>
<p><a href="#measurechose">How are the measures chosen?</a></p>
<p><a href="#gpclose">A GP Practice has closed or merged - why is it included on your dashboards?</a></p>

<h2>Disclaimer</h2>
<p><a href="#Disclaimer">Disclaimer</a></p>

<hr/>

<h2>General</h2>

<h3 id="siteupdate">When do you update the site?</h3>
<p>We use NHS Business Services Authority's (BSA) Detailed Prescribing Information report from their Information Service Portal. The BSA have a release calendar for this dataset, although the data is sometimes released early. We aim to update OpenPrescribing by the Wednesday following the release date, but do try to update earlier if the BSA publish sooner. The data is two months behind, so for example January's prescribing data is published in March. </p>
<p> You can find out when OpenPrescribing has been updated by following us on <a href="https://twitter.com/OpenPrescribing">Twitter</a> or signing up to one of our <a href="https://ebmdatalab.net/openprescribing-e-mail-alerts-2/">e-mail alerts</a>.</p>

<h3 id="extractdownload">How do I download an extract of the data?</h3>
<p>We have written a <a href="https://ebmdatalab.net/downloading-data-from-openprescribing/">blog post</a> on how to download data from the Trends and Analyse sections of the site
<p>It isn’t currently possible to download data an extract from our dashboards. If you are unable to download the data you need <a href="mailto:{{ SUPPORT_EMAIL }}" class="doorbell-show">get in touch</a> and we may be able to send you an extract.</p>

<h3 id="cite">How do I cite OpenPrescribing?</h3>
<p>You are welcome to use data or graphs from this site in your academic output with attribution. Our methods paper will be published shortly, until then please cite "OpenPrescribing.net, EBM DataLab, University of Oxford, 2017" as the source for academic attribution.</p>

<p>If you use data or images from this site online or in a report, please link back to us. Your readers will then be able to see live updates to the data you are interested in, and explore other queries for themselves.</p>

<h3 id="timeperiod">What time period does the dataset cover?</h3>
<p>We have data from the past 5 years on OpenPrescribing.net. We do have the prescribing dataset from August 2010 onwards in our databases, and national data going back to 1999. If you require this information <a href="mailto:{{ SUPPORT_EMAIL }}" class="doorbell-show">get in touch</a>, as we may be able to help. </p>

<h2>Prescribing Dataset</h2>

<h3 id="datasource">Where do you get the data from?</h3>
<p>See our <a href="/about">About</a> page.</p>

<h3 id="patientinfo">Is there any patient age or disease information in the dataset?</h3>
<p>No, the prescribing dataset we use does not contain any patient information.</p>

<h3 id="prescitem">What is a prescription item?</h3>
<p>NHS Digital define a prescription item in their <a href="http://content.digital.nhs.uk/media/10048/FAQs-Practice-Level-Prescribingpdf/pdf/PLP_FAQs_April_2015.pdf">FAQ</a> (PDF) as:</p>
<p>‘A prescription item is a single supply of a medicine, dressing or appliance written on a prescription form. If a prescription form includes three medicines it is counted as three prescription items.</p>

<p>Item figures do not provide any indication of the length of treatment or quantity of medicine prescribed. Patients with a long term condition usually get regular prescriptions. While many prescriptions are for one month (28 or 30 days supply), items will be for varying length of treatment and quantity.’</p>

<h3 id="prescquantity">What does quantity mean?</h3>
<p>NHS Digital define quantity in their <a href="http://content.digital.nhs.uk/media/10048/FAQs-Practice-Level-Prescribingpdf/pdf/PLP_FAQs_April_2015.pdf">FAQ</a> (PDF) as:</p>
<p>'The quantity of a drug dispensed is measured in units depending on the formulation of the product, which is given in the drug name. Quantities should not be added together across preparations because of different strengths and formulations.</p>
<p>• Where the formulation is tablet, capsule, ampoule, vial etc the quantity will be the number of tablets, capsules, ampoules, vials etc</p>
<p>• Where the formulation is a liquid the quantity will be the number of MLS</p>
<p>• Where the formulation is a solid form (eg. Cream, gel, ointment) the quantity will be the number of grammes'</p>

<h3 id="actualcost">What is actual cost?</h3>
<p>NHS Digital define actual cost in their <a href="http://content.digital.nhs.uk/media/10048/FAQs-Practice-Level-Prescribingpdf/pdf/PLP_FAQs_April_2015.pdf">FAQ</a> (PDF) as:</p>
<p>‘The Net Ingredient Cost (NIC) is the basic price of a drug, i.e. the price listed in the Drug Tariff or price lists. Actual Cost is the estimated cost to the NHS, which is usually lower than Net Ingredient Cost. Actual Cost is calculated by subtracting the average percentage discount per item received by pharmacists (based on the previous month) from the Net Ingredient Cost, but adding in the value of a container allowance for each prescription item.’</p>

<h3 id="bnfchange">How do you deal with BNF code changes?</h3>
<p>Chemicals can occasionally be re-classified from one BNF code to another. An example of this is Linaclotide, which changed from 0102000AH to <a href="/chemical/0106070B0">0106070B0</a> in 2013.</p>
<p>We have aimed to normalise the data so that past prescribing is always listed under the current BNF code. This means if you look at Linaclotide’s trends page, you will see the prescribing pre-2013 even though the code changed.</p>
<p>We have done this by mapping the old codes to the new codes, by using a map the NHS Business Services Authority provided us in a personal communication (after correcting for obvious typos etc.). You can read how we did this on <a href="https://github.com/ebmdatalab/openprescribing/pull/380/commits/7f968027263c62318403584e4ad5e0b96869bb7e">github</a>.</p> 
<p>You can read more about BNF codes and how they are structured <a href=https://ebmdatalab.net/prescribing-data-bnf-codes/>here</a>.</p>

<h3 id="ccgchange">"How do you determine CCG membership when GP practices have moved CCGs or CCGs have merged?</h3>
<p>We use the current CCG membership of a practice in our analyses. If a GP Practice moved CCG , the data from before the move will be included in their current CCGs' data. The data from prior to the move will not be present in  the old CCG's data. This means that when you look at our prescribing measures, you will be looking at the past prescribing of the current GP practices in that CCG.</p>
<p>When CCGs merge, we create a new dashboard for the newly formed CCG and remove the old CCG dashboards. We use the prescribing data for the current practices in the new CCG in our measures. Any data for practices in the old CCGs that closed prior to the merger will be included in the new CCG's data</p>
<p>Data from our analyse and trends pages also use current practice membership of a CCG when aggregating the data by CCG</p>

<h2>Analyse</h2>
<h3 id="analysetutorial">How do I use the analyse page?</h3>
<p>Instructions are found <a href="/docs/analyse">here</a>.</p>

<h3 id="denominator">What denominator should I use?</h3>
<p>We use this site a lot for our own work and our own research. When we use the <a href="{% url 'analyse' %}">analysis page</a>, we find it useful to choose denominators cautiously.</p>

<p>You can use "list size" which tells you how many patients a practice covers, but this can be problematic, because different practices will have different kinds of patients, some with lots of older people, and so on.</p>

<p>To account for this the NHS uses imperfect but useful "adjusted" denominators called STAR-PUs, which try to account for the age and sex structure of the practice's population. These STAR-PUs are specific to specific disease areas, because they try to account for different rates of usage -- in different age bands of the population - for specific treatment. So for the STAR-PU for cardiovascular disease prevention prescribing, for example, gives you extra points for every man aged 40-50, even more for men aged 50-60, and so on; but less for women in the same bands, and very little for younger people.</p>

<p>Generating these STAR-PUs for each practice, each disease area, and each month, takes coder time, so we currently only have the STAR-PU for antibiotics.</p>

<p>When using the data ourselves we tend to use more thoughtful approaches to try to "bake in" population prevalence or need for a particular condition, or to explore different prescribing patterns. For example, we often use whole classes of drug as the denominator in our analyses, as in the video walkthroughs; or we compare the use of one drug against the use of another. When looking at whether a practice is using a lot of Nexium (an expensive "proton pump inhibitor" pill for treating ulcers) we might look at "Nexium prescribing" versus "all proton pump inhibitor prescribing" (<a href="{% url 'analyse' %}#org=CCG&numIds=0103050E0BB&denomIds=1.3.5">example</a>).</p>

<p>Play around and <a href="mailto:{{ SUPPORT_EMAIL }}" class="doorbell-show">let us know</a> if you find anything interesting, or develop any interesting methods.</p>


<h3 id="appliance">How can I search for appliance data?</h3>
<p>Most appliances are currently not available to search for on the OpenPrescribing site. We are working to add this, but in the meantime you can <a href="mailto:{{ SUPPORT_EMAIL }}" class="doorbell-show">contact us</a> to ask for a data extract. </p>
                                                             
<h2>CCG &amp; GP Dashboards</h2>

<h3 id="measureinterpret">How should I interpret the measures?</h3>
<p>We recommend reading NHS Digitals's <a href="http://content.digital.nhs.uk/gpprescribingdata">introduction to prescribing data</a>, including their <a href="http://content.digital.nhs.uk/media/10048/FAQs-Practice-Level-Prescribingpdf/pdf/PLP_FAQs_April_2015.pdf">FAQ</a> (PDF) and <a href="http://content.digital.nhs.uk/media/10686/Download-glossary-of-terms-for-GP-prescribing---presentation-level/pdf/PLP_Presentation_Level_Glossary_April_2015.pdf">glossary of terms</a> (PDF).</p>

<p>Just because a practice or CCG is an outlier for high or low use of a particular treatment, that doesn't necessarily mean they are good or bad prescribers. These are <em>measures</em> rather than <em>indicators</em>, and they need to be interpreted judiciously.</p>

<p>For example, a practice that prescribes a lot of benzodiazepines may have a lower threshold for prescribing them, or may run a specialist service for people with substance misuse, or have one doctor with an interest in - and long list of - such patients.</p>
<div class="alert alert-danger" role="alert" style="max-width: 800pxt">
<strong>Warning!</strong> These are important measures, but they should be interpreted thoughtfully. There may be good reasons why a practice is prescribing more or less of something than other practices in the country, e.g. they may have a very different patient population to the national average.
</div>

<h3 id="measurechose">How are the measures chosen?</h3>
<p>Our measures were developed in discussion between Drs Jeff Aronson, Kamal Mahtani, <a href="https://ebmdatalab.net/ben-goldacre/">Ben Goldacre</a> at the University of Oxford, and <a href="https://ebmdatalab.net/richard-croker/">Richard Croker</a> from Northern, Eastern & Western Devon CCG.</p>

<h3 id="gpclose">A GP Practice has closed or merged - why is it included on your dashboards?</h3>
<p>OpenPrescribing uses the prescribing dataset published monthly by NHS Digital, which includes the past prescribing for practices that have merged or closed. Data will still show for a closed practice if a prescription prescribed by that surgery was dispensed in the community after the closure date. The historical data for closed practices will continue to be shown on OpenPrescribing, and we are currently thinking about how we can indicate to the user that the practice no longer operates.</p>

<h3 id="Disclaimer">Disclaimer</h3>
<p>We accept no liability for any errors in the data or its publication here: use this data at your own risk. You should not use this data to make individual prescribing decisions.</p>



{% endblock %}

{% block extra_js %}
{% conditional_js 'openprescribing' %}
{% endblock %}
