{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load template_extras %}

{% block title %}Feedback{% endblock %}

{% block content %}
<h2>Feedback</h2>

{% if show_warning %}
  <div class="alert alert-warning">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    Note to patients: this form sends feedback to the OpenPrescribing team at
    Oxford.  If you are trying to contact your practice please
    <a href="https://www.nhs.uk/service-search/GP/LocationSearch/4">click here</a>
    to search for them.
  </div>
{% endif %}

<form method="post" role="form">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {{ form | crispy }}
  <input class="btn btn-primary" type="submit" value="Submit">
</form>

{# The kind of bots which generate comment spam don't tend to execute JavaScript #}
<script>
  document.getElementById('id_human_test').value = '{{ form.HUMAN_TEST_ANSWER|escapejs }}';
  document.getElementById('div_id_human_test').style.display = 'none';
</script>

{% endblock %}
