{% extends "base.html" %}
{% load static %}
{% load template_extras %}

{% block title %}All Hospitals{% endblock %}
{% block active_class %}dashboards{% endblock %}

{% block content %}

{% if hospitals_enabled %}

  <h1>Find a Hospital</h1>

  <p>Search for a Hospital by name or code</p>

  <input class="form-control" id="search" placeholder="Search by Hospital name or code" data-min-search-length="3" />
  <ul class="list-unstyled" id="all-results">
  </ul>

{% else %}

  <h1>Hospitals</h1>

  <p>
    In July 2020, Ben Goldacre and Brian MacKenna wrote a piece in the   <a
    href="https://doi.org/10.1136/bmj.m2607">British Medical Journal</a> arguing that hospital medicines data 
    should be openly shared. Magnificently, the NHS has now made secondary care medicines data (SCMD) available. 
    You can read the full technical specification of the data <a
    href="https://opendata.nhsbsa.net/dataset/secondary-care-medicines-data">here</a> but briefly: it is hospital pharmacy stock control data, which is 
    collected and processed by Rx-Info, and is now published on the NHS Business Services Authority website 
    in the <a
      href="https://www.bennett.ox.ac.uk/blog/2019/08/what-is-the-dm-d-the-nhs-dictionary-of-medicines-and-devices/">NHS dm+d standard</a> we 
      know, love, and have documented well.
  </p>
  
  <p>
    At the Bennett Institute we have long argued that hospital medicines data 
    represents the greatest opportunities to manage variation in treatments and 
    costs of medicines, as hospitals are where the newest and most expensive medicines are 
    used. We would like to build OpenPrescribing.net/hospitals to deliver more insights for 
    clinicians, patients, commissioners, and more. We live to ship! We just need a small amount of resource: OpenPrescribing runs 
    on a shoestring: we are great at getting pure academic research grants (and <a
    href="https://openprescribing.net/research/">publishing papers</a>); but there are no open
    competitive funding streams for practical coalface analytics tools like OpenPrescribing (which now has 145,000 users a year). We think
    that’s holding back progress, across the whole health data landscape! If you are a
    funder and would like to support OpenPrescribing.net/hospitals please get in touch: bennett@phc.ox.ac.uk.
   </p>




  <p>
    You may also be interested in  <a
      href="https://www.bennett.ox.ac.uk/blog/2020/11/biologic-medicines-for-severe-asthma/">our first blog and analysis</a>
      using the new hospital medicines data about biologic medicines used in severe asthma.
  </p>


{% endif %}

{% endblock %}
