{% extends "base.html" %}
{% load static %}
{% load template_extras %}

{% block title %}How to use{% endblock %}
{% block active_class %}more{% endblock %}

{% block content %}

<h2>How to use</h2>

<h3>Webinars</h3>

<p>We have recorded a series of webinars tailored for different user groups, demonstrating how to get the most out of OpenPrescribing. You can watch them from start to finish for a comprehensive overview or jump straight to the chapters that are most relevant to you.</p>

<p><a href="#mowebinar">Medicines Optimisation Teams Webinar</a></p>
<p><a href="#pcwebinar">PCN/Primary Care Teams Webinar</a></p>
<!--
<p><a href="#financewebinar">NHS Finance Teams Webinar</a></p>
 -->
<!--
<p><a href="#albwebinar">Arm’s Length Bodies</a></p>
 -->

<h4 id="mowebinar">Medicines Optimisation Teams Webinar</h4>
<p>This webinar is designed for teams working on medicines optimisation at an ICB level or above. We will cover the basics of OpenPrescribing, then go on to explore some of the more advanced tools.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/2x7E_NJzGkY?si=E9B9I9Nsjtz-_Xex" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<h4 id="pcwebinar">PCN/Primary Care Teams Webinar</h4>
<p>This webinar is designed for healthcare professionals working in GP practices or across Primary Care Networks. We will explore how OpenPrescribing measures and tools can help analyse prescribing variation, monitor trends and identify potential cost-saving opportunities.</p>

<!-- 
<h4 id="financewebinar">Finance Teams Webinar</h4>
<p>This webinar is designed for NHS finance teams interested in understanding medication data and its financial implications. We will explore how OpenPrescribing measures and tools can help analyse prescribing variation, monitor trends and identify potential cost-saving opportunities.</p>
 -->

<!--
<h4 id="albwebinar">Arm’s Length Bodies Webinar</h4>
<p>This webinar is designed for teams in arm’s length bodies (e.g. NHS England, The National Institute for Health and Care Excellence, Medicines and Healthcare products Regulatory Agency, Care Quality Commission) interested in understanding medication data. We’ll explore how OpenPrescribing measures and tools can help analyse prescribing trends across primary care organisations, assess the impact of policy changes, and monitor safety indicators.</p>
 -->

<h3>Informal walkthrough</h3>

<p>See our informal <a href="{% static 'downloads/walkthrough.pdf' %}">walkthough</a> (PDF) for prescribing analysts and our notes on <a href="{% url 'faq' %}">understanding the data</a>.</p>

{% endblock %}
