{% extends "base.html" %}
{% load staticfiles %}
{% load template_extras %}

{% block title %}How to use{% endblock %}
{% block active_class %}more{% endblock %}

{% block content %}

<h2>How to use</h2>

<p>Ben Goldacre talks through some of the things you can do with the site.</p>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2gG1mddb-IM"></iframe>
</div>

<br/>

<p>See also our informal <a href="/static/downloads/walkthrough.pdf">walkthough</a> (PDF) for prescribing analysts and our notes on <a href="{% url 'faq' %}">understanding the data</a>.</p>

{% endblock %}
