{% extends "base.html" %}
{% load template_extras %}
{% load static %}

{% block title %}Home{% endblock %}
{% block active_class %}home{% endblock %}

{% block content %}


<div class="row">

  <div class="col-md-9">

    <h1>Explore England's prescribing data</h1>

    <p>Every month, the NHS in England publishes <a href="https://digital.nhs.uk/practice-level-prescribing-summary">anonymised data</a> about the drugs prescribed by GPs. But the raw data files are large and unwieldy, with more than 700 million rows. We're making it easier for GPs, managers and everyone to explore - supporting safer, more efficient prescribing.</p>

    <p>How to cite: If you use our data or graphs, please cite as <em>OpenPrescribing.net, Bennett Institute for Applied Data Science, University of Oxford, {% current_time "%Y" %}</em> so that others can find us and use our tools.</p>


    <h2>Explore the data</h2>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h3>Look at your Sub-ICB Location</h3>
        <p>We've identified standard <a href="https://openprescribing.net/measure/">prescribing measures</a>, and created dashboards for every ICB, Sub-ICB Location, and practice in the country.</p>
        <a href="{% url 'all_ccgs' %}" class="btn btn-lg btn-info">Find a Sub-ICB Location &raquo;</a>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <h3>Look at your GP practice</h3>
        <p>We've identified standard prescribing measures, and created dashboards for every GP practice in the country.</p>
        <a href="{% url 'all_practices' %}" class="btn btn-lg btn-info">Find a practice &raquo;</a>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h3>Run your own analyses</h3>
        <p>If you have a burning question about the prescribing data, use our flexible query form to get the data you need, quickly and easily.</p>
        <a href="{% url 'analyse' %}" class="btn btn-lg btn-info">Start analysing &raquo;</a>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <h3>Spot national trends</h3>
        <p>See how national prescribing trends have changed since 2010, for any drug or <a href="https://en.wikipedia.org/wiki/British_National_Formulary">BNF section</a> that interests you.</p>
        <a href="{% url 'all_chemicals' %}" class="btn btn-lg btn-info">Find a drug &raquo;</a>
      </div>
    </div>

    <hr/>

    <p>Read more <a href="{% url 'about' %}">about the site</a> and see our <a href="{% url 'faq' %}">FAQs</a>. In particular, note our <a href="{% url 'faq' %}#cite">guidelines for using this data</a>.</p>

  </div>

  <div class="col-md-3">
    <h3>Latest News</h3>

    {% if news_feed %}

      {% for item in news_feed %}

        <div class="latest-news-item">
          <a href="{{ item.link }}"><img src="{{ item.image }}"></a>
          <small class="text-muted">{{ item.date | date:"j M Y" }}</small>
          <p><a href="{{ item.link }}">{{ item.title }}</a></p>
        </div>

      {% endfor %}

    {% else %}

        <div class="latest-news-item">
          <a href="https://www.bennett.ox.ac.uk/openprescribing/blog/">
            <img src="{% static 'img/footer-bennett.svg' %}">
          </a>
          <p style="margin-top: 5px">
            <a href="https://www.bennett.ox.ac.uk/openprescribing/blog/">
              Read the latest news from OpenPrescribing on the Bennett Institute blog
            </a>
          </p>
        </div>

    {% endif %}

  </div>

</div>

{% endblock %}
