{% extends "base.html" %}
{% load humanize %}
{% load template_extras %}

{% block title %} {{ measure }} by all STPs{% endblock %}
{% block active_class %}stp{% endblock %}

{% block content %}

<h1>{{measure.name}} by all STPs</h1>

{% if measure.url %}
<p>Read <a href="{{ measure.url }}">more about this measure</a>.</p>
{% endif %}

{% include '_measure_header.html' %}

<p>STPs are ordered by mean percentile over the past six months. Each chart shows the results for the individual STP, plus deciles across all STPs in the NHS in England.</p>

<div id="measures">
<div id="charts" class="row">
<div class="loading-wrapper col-xs-12">
    <hr/>
    <img class="loading" src="/static/img/logo.svg" onerror="this.src='/static/img/ajax-loader.gif';this.onerror=null;" title="Loading icon">
    <br/>Fetching data...
    <br/><br/>
</div>
</div>

</div>

{% verbatim %}
<!-- the following is inserted into the `perfsummary` element above
and is the "if it prescribed at median then it would have saved X"
text
-->
<script id="summary-panel" type="text/x-handlebars-template">
{{ costSavings }}
</script>

<script id="measure-panel" type="text/x-handlebars-template">
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="{{ chartTitleUrl }}">{{ chartTitle }}</a>
        </div>
        <div class="panel-body" id="{{ chartId }}" data-costsaving="{{ cost_saving }}">
            <div class="chart">
                <div class="status"></div>
            </div>
        </div>
        <div class="explanation">
          {{{ chartExplanation }}}
          <ul>
            <li>
              <a href="{{ measureForAllPracticesUrl }}">Split the measure into charts for individual CCGs</a>
            </li>
          {{#if numeratorCanBeQueried }}
            {{#if oneEntityUrl }}
              <li>
               <a href="{{ oneEntityUrl }}">Break the overall score down into individual presentations</a>.
              </li>
             {{/if}}
           {{/if}}
        </div>
    </div>
</div>
</script>
{% endverbatim %}

{% include '_get_in_touch.html' %}
{% endblock %}

{% block extra_js %}
<script>
var measureData = {
    'orgType': 'STP',
    'measure': '{{ measure.id }}',
    'isCostBasedMeasure': {{ measure.is_cost_based|yesno:"true,false" }},
    'lowIsGood': {{ measure.low_is_good|yesno:"true,false,null" }},
    'tags': '{{ request.GET.tags }}',
    {% if measure.tags_focus %}
    'tagsFocus': '{{ measure.tags_focus|join:"," }}',
    {% endif %}
    'numerator': '{{ measure.numerator_short }}',
    'denominator': '{{ measure.denominator_short }}'
};
</script>
{% conditional_js 'measures' %}
{% endblock %}
