{% extends "base.html" %}
{% load humanize %}
{% load template_extras %}

{% block title %}Prescribing on {{ measure.name }} for {{ practice.name }}{% endblock %}
{% block active_class %}practice{% endblock %}

{% block extra_css %}
<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
{% endblock extra_css %}

{% block content %}

<h1>{{ practice.name }}: {{ measure.name }}</h2>

<p>In the month for which we have the most recent data ({{ current_at|date:"M Y" }}), the
numerator in this measure is composed of the following presentations:</p>

<table id="numerator_breakdown" class="table">
  <thead>
    <tr>
      <th>
        Presentation
      </th>
      <th>
        Items
      </th>
      <th>
        Quantity
      </th>
      <th>
        Cost
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Loading...
      </th>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
  </tbody>
</table>

<p>This measure shows how this organisation compares with its peers across NHS England. This is indicative only, and should be approached with caution. <a href='{% url 'faq' %}#measureinterpret'>Read more about measures</a>.</p>

{% include '_measures_heading.html' with entity_type='practice' %}
{% include '_measures_panel.html' %}

<p>
  <a href="{% url 'measures_for_one_practice' practice.code %}">View all measures for {{ practice.name }}</a>
</p>

<hr/>

{% include '_get_in_touch.html' %}

<script>
var measureData = {
    'orgId': '{{ practice.code }}',
    'orgName': '{{ practice.name }}',
    'measure': '{{ measure.id }}',
    'rollUpBy': 'measure_id',
    'orgType': 'practice'
};
</script>

{% endblock %}

{% block extra_js %}
{% conditional_js 'measures' %}
{% include '_measure_breakdown_table.html' %}
{% endblock %}
