{% extends "base.html" %}
{% load humanize %}
{% load template_extras %}

{% block title %}Prescribing on {{ measure.name }} for {{ entity.name }}{% endblock %}
{% block active_class %}{{ entity_type }}{% endblock %}

{% block extra_css %}
  <link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
{% endblock extra_css %}

{% block content %}
  <h1>
    {{ measure.name }}
    <br><small>{{ entity.name }}</small>
  </h1>
  <p>
    <a href="{% url measures_url_name entity.code %}" class="btn btn-default">
      View all measures for this {{ entity_type_human }} &rarr;
    </a>
  </p>

  <p>This measure shows how this organisation compares with its peers across NHS England. This is indicative only, and should be approached with caution. <a href='{% url 'faq' %}#measureinterpret'>Read more about measures</a>.</p>

  {% include '_measures_heading.html' with entity_type=entity_type %}
  {% include '_measures_panel.html' %}

  <hr>

  {% if measure.numerator_is_list_of_bnf_codes %}

    <h2>Presentations contributing to variation</h2>

    <p>In the quarter ending {{ current_at|date:"M Y" }}, the numerator in this measure was composed of the following presentations:</p>

    <table id="numerator_breakdown" class="table">
      <thead>
        <tr>
          <th>Presentation</th>
          <th>Items</th>
          <th>Quantity</th>
          <th>Cost</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Loading...</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <a class="btn btn-primary" href="{% url 'measure_numerators_by_org' %}?org={{ entity.code }}&measure={{ measure.id }}&format=csv"><span class="glyphicon glyphicon-download-alt"></span> Download this data</a>

    <hr>

  {% endif %}

  {% include '_get_in_touch.html' %}
{% endblock %}

{% block extra_js %}
  {{ measure_options|json_script:"measure-options" }}
  {% conditional_js 'measures' %}
  {% include '_measure_breakdown_table.html' %}
{% endblock %}
