{% extends "base.html" %}
{% load humanize %}
{% load staticfiles %}
{% load template_extras %}

{% block title %}{{measure.name}} by practices in {{ ccg.name }}{% endblock %}
{% block active_class %}ccg{% endblock %}

{% block extra_css %}
  <link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
{% endblock extra_css %}

{% block content %}
  <h1>{{measure.name}} by GP practices in {{ ccg.name }}</h1>

  {% include '_measure_header.html' %}

  <p>Practices are ordered by mean percentile over the past six months, with the worst-performing at the top. Each chart shows the results for the individual practice, plus deciles across all practices in the NHS in England.</p>

  <div id="measures">
    <div id="charts" class="row">
      <div class="loading-wrapper col-xs-12">
        <hr/>
        <img class="loading" src="{% static 'img/logo.svg' %}" onerror="this.src='{% static "img/ajax-loader.gif" %}';this.onerror=null;" title="Loading icon">
        <br/>Fetching data...
        <br/><br/>
      </div>
    </div>
  </div>

  {% verbatim %}
    <script id="summary-panel" type="text/x-handlebars-template">
      {{ performanceDescription }}
      {{ costSavings }}
    </script>

    <script id="measure-panel" type="text/x-handlebars-template">
      <div id="practice_{{ chartId }}" class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            <span class="measure-panel-title">
              <a href="{{ chartTitleUrl }}">{{ chartTitle }}</a>
            </span>
          </div>
          <div class="panel-body" id="{{ chartId }}" data-costsaving="{{ cost_saving }}">
            <div class="chart">
              <div class="status"></div>
            </div>
          </div>
          <div class="explanation">
            {{{ chartExplanation }}}
            {{#if numeratorCanBeQueried }}
              {{#if oneEntityUrl }}
                <ul>
                  <li><a href="{{ oneEntityUrl }}">Break the overall score down into individual presentations</a>.</li>
                </ul>
              {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
    </script>
  {% endverbatim %}

  {% include '_get_in_touch.html' %}
{% endblock %}

{% block extra_js %}
  {{ measure_options|json_script:"measure-options" }}
  {% conditional_js 'measures' %}
{% endblock %}
