{% extends "base.html" %}
{% load humanize %}
{% load template_extras %}

{% block title %}{{ measure.name }}{% endblock %}

{% block content %}

  <h1>{{ measure.name }}</h1>

  <p class="alert alert-info">
    Below are the database queries which are used to create this measure. These
    are run in Google BigQuery against our copy of the public prescribing
    dataset. We're working on making our BigQuery tables publically available
    at which point it will be possible to run and modify these queries
    yourself. But even where code and database queries are not directly
    useable by others we believe it is always preferrable to make them public.
  </p>

  <table class="table table-bordered">
    <tr>
      <th style="width: 11em">Description</th>
      <td>{{ measure.description|safe }}</td>
    </tr>
    <tr>
      <th>Why it matters</th>
      <td>{{ measure.why_it_matters|safe }}</td>
    </tr>
    <tr>
      <th>Tags</th>
      <td>
        {% for tag in measure_tags %}
          <a href="{% url 'all_measures' %}?tags={{ tag.tag }}">
            {{ tag.name }}{% if not forloop.last %},{% endif %}
          </a>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <th>Implies cost savings</th>
      <td>{% if measure.is_cost_based %}Yes{% else %}No{% endif %}</td>
    </tr>
  </table>

  <h3>Numerator SQL</h3>
  <pre><code>{{ numerator_sql }}</code></pre>

  <h3>Denominator SQL</h3>
  <pre><code>{{ denominator_sql }}</code></pre>

{% endblock %}
