{% extends "base.html" %}
{% load template_extras %}
{% load humanize %}

{% block title %}Prescribing measures for {{ practice }}{% endblock %}
{% block active_class %}practice{% endblock %}

{% block extra_css %}
<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
{% endblock extra_css %}

{% block content %}

<h1>{{ practice }}</h1>

<div class="row" id="intro">

<div class="col-md-6">
<p class="lead">Address: {{ practice.address_pretty }}</p>
{% if practice.ccg %}
<p class="lead">Part of CCG: <a href="{% url 'ccg' practice.ccg.code %}measures">{{ practice.ccg.name }}</a></p>
{% endif %}
{% if practice.list_size_13 %}
<p class="lead">Registered patients in 2013/14: {{ practice.list_size_13|intcomma }}</p>
{% endif %}
<p class="lead">Current practice type: {{ practice.get_setting_display }}</p>
</div>

<div class="col-md-6" id="map-container">
<div id="map-measure"></div>
<small>Practice locations are approximate, based on postcode.</small>
</div>
</div>

<hr/>

{% if practice.setting != 4 %}
<div class="alert alert-warning" role="alert">
<strong>Warning!</strong> {{ practice.name }} is not a standard GP practice, so may have very low numbers for some of these dashboards. Don't be surprised if some of the graphs look strange.
</div>
{% endif %}

<p>Blah blah blah brief intro to measures, explaining what these measures are, what the ordering means and why they matter. <a href="{% url 'caution' %}#metrics">Read more about measures</a>.</p>

<p id="perfsummary">Loading...</p>

</div> <!-- /#intro -->

<div id="toggle">Sort measures by:
<div class="btn-group" id="order">
    <button type="button" data-orderby="percentile" class="btn btn-default active" aria-label="Percentile">
        Percentile
    </button>
    <button type="button" data-orderby="savings" class="btn btn-default" aria-label="Potential savings">
        Potential savings
    </button>
</div>
</div>

<div id="measures">
<div id="charts" class="row">
<div class="loading-wrapper col-xs-12">
    <hr/>
    <img class="loading" src="/static/img/logo.svg" onerror="this.src='/static/img/ajax-loader.gif';this.onerror=null;" title="Loading icon">
    <br/>Fetching data...
    <br/><br/>
</div>
</div>

{% verbatim %}
<script id="summary-panel" type="text/x-handlebars-template">
<p>{{ performanceDescription }}</p>

{{ topOpportunity }}

{{ costSavings }}

</script>

<script id="measure-panel" type="text/x-handlebars-template">
<div id="measure_{{ chartId }}" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 chart" data-id="{{ chartId }}" data-costsaving="{{ costSaving50th }}">
    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="{{ chartTitleUrl }}">{{ chartTitle }}</a>
        </div>
        <div class="panel-body" class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 inner">
                <p><strong>Why it matters:</strong> {{ why_it_matters }}</p>
                <p><strong>Description:</strong> {{ description }}</p>
                <p>{{{ costDescription }}}</p>
                <p><strong>Explore:</strong> prescribing of this measure by <a href="{{ chartTitleUrl }}">other practices in the same CCG</a>.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="{{ chartId }}">
                <div class="status"></div>
            </div>
        </div>

    </div>
</div>
</script>
{% endverbatim %}

<hr/>

<small id="location">Practice locations based on <a href="http://systems.hscic.gov.uk/data/ods/datadownloads/onsdata">data from HSCIC/ONS</a>. Contains OS data © Crown copyright and database right 2016, Royal Mail data © Royal Mail copyright and database right 2016, National Statistics data © Crown copyright and database right 2016.</small>

</div>



</div>

<script>
var measureData = {
    'orgId': '{{ practice.code }}',
    'parentOrg': '{{ practice.ccg.code }}',
    'orgName': '{{ practice.name }}',
    'orgType': 'practice'
};
</script>
{% conditional_js 'measures' %}

{% endblock %}
