{% extends "base.html" %}
{% load humanize %}
{% load template_extras %}

{% block title %}{{measure.name}} prescribing by practices in {{ ccg.name }}{% endblock %}
{% block active_class %}ccg{% endblock %}

{% block extra_css %}
<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
{% endblock extra_css %}

{% block content %}

<h1>{{measure.name}} prescribing by GP practices in {{ ccg.name }}</h1>

<p>How standard GP practices in {{ ccg.name }} prescribed {{ measure.title }}.</p>

{% if measure.url %}
<p>Read <a href="{{ measure.url }}">more about this measure</a>.</p>
{% endif %}

<p><strong>Why it matters</strong>: {{ measure.why_it_matters }}</p>

<p><strong>Definition</strong>: {{ measure.description }}</p>

<p><strong>How this CCG is doing:</strong> <span id="perfsummary">Loading...</span> See <a href="/ccg/{{ ccg.code }}/measures">how this CCG is doing on other measures</a>.</p>

<p>Practices are ordered by mean percentile over the past six months, with the worst-performing at the top. Each chart shows the results for the individual practice, plus deciles across all practices in NHS England.</p>

<div id="measures">
<div id="charts" class="row">
<div class="loading-wrapper col-xs-12">
    <hr/>
    <img class="loading" src="/static/img/logo.svg" onerror="this.src='/static/img/ajax-loader.gif';this.onerror=null;" title="Loading icon">
    <br/>Fetching data...
    <br/><br/>
</div>
</div>

</div>

{% verbatim %}
<script id="summary-panel" type="text/x-handlebars-template">
{{ performanceDescription }}
{{ costSavings }}
</script>

<script id="measure-panel" type="text/x-handlebars-template">
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="{{ chartTitleUrl }}">{{ chartTitle }}</a>
        </div>
        <div class="panel-body" id="{{ chartId }}" data-costsaving="{{ cost_saving }}">
            <div class="chart">
                <div class="status"></div>
            </div>
        </div>
        <div class="explanation">{{{ chartExplanation }}}</div>
    </div>
</div>
</script>
{% endverbatim %}

<script>
var measureData = {
    'orgId': '{{ ccg.code }}',
    'orgName': '{{ ccg.name }}',
    'orgType': 'practice',
    'measure': '{{ measure.id }}',
    'isCostBasedMeasure': {{ measure.is_cost_based|yesno:"true,false" }},
    'lowIsGood': {{ measure.low_is_good|yesno:"true,false" }},
    'numerator': '{{ measure.numerator_short }}',
    'denominator': '{{ measure.denominator_short }}'
};
</script>
{% conditional_js 'measures' %}
{% endblock %}
