{% extends "base.html" %}
{% load humanize %}
{% load template_extras %}

{% block title %} {{ measure }} by all CCGs{% endblock %}
{% block active_class %}ccg{% endblock %}

{% block content %}

<h1>{{measure.name}} by all CCGs</h1>

{% if measure.url %}
<p>Read <a href="{{ measure.url }}">more about this measure</a>.</p>
{% endif %}

<p><strong>Why it matters</strong>: {{ measure.why_it_matters|safe }}</p>

<p><strong>Definition</strong>: {% autoescape off %} {{ measure.description }} {% endautoescape %}
{% if measure.tags_focus %}
  <a href="{% url 'all_measures' %}?tags={{measure.tags_focus|join:','}}">Break this measure down into its constituent measures.</a>
{% endif %}

</p>

{% if measure.is_cost_based %}

<p><strong>How the CCGs are doing</strong>: <span id="perfsummary">Loading...</span></p>

{% endif %}

<p>CCGs are ordered by mean percentile over the past six months. Each chart shows the results for the individual CCG, plus deciles across all CCGs in the NHS in England.</p>

<div id="measures">
<div id="charts" class="row">
<div class="loading-wrapper col-xs-12">
    <hr/>
    <img class="loading" src="/static/img/logo.svg" onerror="this.src='/static/img/ajax-loader.gif';this.onerror=null;" title="Loading icon">
    <br/>Fetching data...
    <br/><br/>
</div>
</div>

</div>

{% verbatim %}
<script id="summary-panel" type="text/x-handlebars-template">
{{ costSavings }}
</script>

<script id="measure-panel" type="text/x-handlebars-template">
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="{{ chartTitleUrl }}">{{ chartTitle }}</a>
        </div>
        <div class="panel-body" id="{{ chartId }}" data-costsaving="{{ cost_saving }}">
            <div class="chart">
                <div class="status"></div>
            </div>
        </div>
        <div class="explanation">{{{ chartExplanation }}}</div>
    </div>
</div>
</script>
{% endverbatim %}

{% include '_get_in_touch.html' %}

<script>
var measureData = {
    'orgType': 'CCG',
    'measure': '{{ measure.id }}',
    'isCostBasedMeasure': {{ measure.is_cost_based|yesno:"true,false" }},
    'lowIsGood': {{ measure.low_is_good|yesno:"true,false,null" }},
    'tags': '{{ request.GET.tags }}',
    'numerator': '{{ measure.numerator_short }}',
    'denominator': '{{ measure.denominator_short }}'
};
</script>
{% conditional_js 'measures' %}
{% endblock %}
