{% extends "base.html" %}
{% load humanize %}
{% load template_extras %}

{% block title %}Prescribing measures for {{ stp.name }} STP{% endblock %}
{% block active_class %}stp{% endblock %}

{% block extra_css %}
<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
{% endblock extra_css %}

{% block content %}

<h1>STP: {{ stp.name }}</h1>

<div class="row" id="intro">
  <div class="col-md-6">
    <p>CCGs in this STP:</p>
    <ul class="list-unstyled" id="ccgs">
    {% for ccg in ccgs %}
      <li
        {% if forloop.counter > 6 %}
          class='hidden'
        {% endif %}
        >
        <a href="{% url 'ccg_home_page' ccg.code %}">{{ ccg }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>

<hr/>

{% include '_measures_heading.html' with entity_type='STP' %}
{% include '_measures_panel.html' %}

<hr/>

{% include '_get_in_touch.html' %}
{% endblock %}

{% block extra_js %}
<script>
 var measureData = {
    'tags': '{{ tag_filter.tags|join:"," }}',
    'orgId': '{{ stp.ons_code }}',
    'orgName': '{{ stp.name }}',
    'orgType': 'STP'
};
</script>
{% conditional_js 'measures' %}

{% endblock %}
