{% extends "base.html" %}
{% load humanize %}

{% block title %}Prescribing of {{ measure }} by all CCGs{% endblock %}
{% block active_class %}ccg{% endblock %}

{% block content %}

<h1>{{measure.name}} prescribing by all CCGs</h1>

<p>How all CCGs prescribed {{ measure.title }}.</p>

{% if measure.url %}
<p>Read <a href="{{ measure.url }}">more about this measure</a>.</p>
{% endif %}

<p><strong>Why it matters</strong>: {{ measure.why_it_matters }}</p>

<p><strong>Definition</strong>: {{ measure.description }}</p>

{% if measure.is_cost_based %}

<p><strong>How the CCGs are doing</strong>: <span id="perfsummary">Loading...</span></p>

{% endif %}

<p>CCGs are ordered by mean percentile over the past six months. Each chart shows the results for the individual CCG, plus deciles across all CCGs in NHS England.</p>

<div id="measures">
<div id="charts" class="row">
<div class="loading-wrapper col-xs-12">
    <hr/>
    <img class="loading" src="/static/img/logo.svg" onerror="this.src='/static/img/ajax-loader.gif';this.onerror=null;" title="Loading icon">
    <br/>Fetching data...
    <br/><br/>
</div>
</div>

</div>

{% verbatim %}
<script id="summary-panel" type="text/x-handlebars-template">
{{ cost_savings }}
</script>

<script id="measure-panel" type="text/x-handlebars-template">
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="{{ chart_title_url }}">{{ chart_title }}</a>
        </div>
        <div class="panel-body" id="{{ chart_id }}" data-costsaving="{{ cost_saving }}">
            <div class="chart">
                <div class="status"></div>
            </div>
        </div>
        <div class="explanation">{{{ chart_explanation }}}</div>
    </div>
</div>
</script>
{% endverbatim %}

<script>
var measureData = {
    'orgType': 'CCG',
    'measure': '{{ measure.id }}',
    'measureIsCostBased': '{{ measure.is_cost_based }}',
    'measureIsPercentage': '{{ measure.is_percentage }}',
    'numerator': '{{ measure.numerator_short }}',
    'denominator': '{{ measure.denominator_short }}'
};
</script>
{% if debug %}
<script src="/static/js/measures.js"></script>
{% else %}
<script src="/static/js/measures.min.js"></script>
{% endif %}
{% endblock %}
