{% extends "base.html" %}
{% load humanize %}
{% load template_extras %}

{% block title %}Prescribing measures for {{ ccg.name }}{% endblock %}
{% block active_class %}ccg{% endblock %}

{% block extra_css %}
<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
{% endblock extra_css %}

{% block content %}

<h1>CCG: {{ ccg.name }}</h1>
<div class="row">
  <div class="col-md-12">
    <img src="/static/img/bang.jpg" style="float: left; margin-right: 10px">
    <p>
      Latest features from <strong>OpenPrescribing Labs</strong>:
      <a href="{% url 'ccg_price_per_unit' ccg.code %}">a tool to
        catch up to £400m of NHS savings</a> per month; and
      <a href="{% url 'measures_for_one_ccg' ccg.code %}?tags=lowpriority">measures
        for NHS England's list of low value prescription items</a></p>
  </div>
</div>
<div class="row" id="intro">
  <div class="col-md-6">
    <p>Standard practices currently in this CCG:</p>
    <ul class="list-unstyled" id="practices">
    {% for p in practices %}
      <li
        {% if forloop.counter > 6 %}
          class='hidden'
        {% endif %}
        >
        <a href="{% url 'measures_for_one_practice' p.code %}">{{ p }}</a>
        ({{ p.get_setting_display }})
      </li>
    {% endfor %}
    </ul>
    {% if practices.count > 6 %}
      <a id="showall" href="#">&raquo; show all {{ practices.count }}  practices...</a>
    {% endif %}
  </div>
  <div class="col-md-6" id="map-container">
    <div id="map-measure"></div>
  </div>

</div>

<hr/>
{% include '_measures_panel.html' with entity_type='CCG' %}

<hr/>
{% include '_get_in_touch.html' %}
{% endblock %}

{% block extra_js %}
<script>
 var measureData = {
    'tags': '{{ request.GET.tags|default:"core" }}',
    'orgId': '{{ ccg.code }}',
    'orgName': '{{ ccg.name }}',
    'orgType': 'CCG'
};
</script>
{% conditional_js 'measures' %}
{% endblock %}
