{% extends "base.html" %}
{% load template_extras %}

{% block title %}Price per unit (PPU) data for {{ name }}{% endblock %}

{% block content %}
<h1>Price per unit (PPU) data for {{ name }}</h2>

<p>There is often wide variation in the price paid across England for
  the same presentation of a drug or appliance. We describe this variation by computing a <em>Price per Unit</em> (PPU) for each prescription.</p>

  <p>{% if highlight %}These histograms show{% else %}This histogram shows{% endif %} the PPU for all generically and non-generically prescribed <em>{{ name }}</em> in {{ date|date:"F Y"}}, including formulation swaps (e.g. considering capsules and tablets to be equivalent).</p>

<h2>Prescribing by all practices</h2>

<div id="all_practices_chart" class="chart" style="width: 100%; height: 490px;"></div>

{% if highlight %}
 <h2>Prescribing by {{ highlight_name }}</h2>
 <div id="highlight_chart" class="chart" style="width: 100%; height: 490px;"></div>
{% endif %}

<hr>
<a id="logtog" class="btn btn-info">Toggle logarithmic scale on chart{% if highlight %}s{% endif %}</a>

<h2>Extended information</h2>
{% if product %}
<table class="table table-condensed">
  <caption>{{ name }}</caption>
  <tr>
    <th>Tariff category <super style="color:red">*</super></th>
    <td>{{ product.tariff_category }}</td>
  </tr>
  <tr>
    <th>Availability restrictions (special, imported, etc)</th>
    <td>{{ product.availability_restrictions }}</td>
  </tr>
  <tr>
    <th>Prescribability status (non-bioequivalence, etc)</th>
    <td>{{ product.prescribability }}</td>
  </tr>
</table>

  <super style="color:red">*</super>The Drug Tariff category shown is the <em>current</em> category.  It may have been different in {{ date|date:"F Y"}}.

{% else %}
<p>
  Extended information from dm+d not available for this presentation.
</p>

{% endif %}

{% endblock %}

{% block extra_js %}
{% conditional_js 'openprescribing' %}
<script type="text/javascript">
  $(document).ready(function(){
    $('#logtog').click(function(e) {
      var target = $(e.target);
      $('.chart').each(function() {
        var yAxis = $(this).highcharts().yAxis[0];
        if (target.data('scale') == 'logarithmic') {
          yAxis.update({'type': 'linear'});
        } else {
          yAxis.update({'type': 'logarithmic'});
        }
      });
      if (target.data('scale') == 'logarithmic') {
        target.data('scale', 'linear')
      } else {
        target.data('scale', 'logarithmic')
      }
      return false;
    });
    var highchartsOptions = {
      chart: {
        type: 'column',
        marginTop: 70
      },
      title: {
        text: '',
        x: 25,
      },
      subtitle: {
        text:  'in {{ date|date:"F Y"}}',
        x: 25
      },
      legend: {
        enabled: true,
        verticalAlign: 'top',
        align: 'right',
        backgroundColor: '#fff',
        borderColor: '#ccc',
        borderWidth: 1,
        padding: 20,
        y: 50,
        x: -50
      },
      tooltip: {
        headerFormat: '<span style="font-size: 10px">£{point.key:.2f} / unit</span><br/>'
      },
      credits: {
        enabled: false
      },
      exporting: {
        enabled: false
      },
      plotOptions: {
        series: {
          pointPadding: 0,
          groupPadding: 0,
          borderWidth: 0.5,
          borderColor: 'rgba(255,255,255,0.5)'
        },
        column: {
          stacking: 'normal'
        }

      },
      xAxis: {
        plotLines: [{
          color: '#FF0000', // Red
          width: 1,
          value: null,
          zIndex: 0.9,
          label: {
            text: 'Mean PPU for {{ highlight_name }}',
            verticalAlign: 'middle',
            textAlign: 'center'
          }
        }],
        title: {
          text: 'Price per unit (£)'
        },
        labels: {
          format: "{value:.2f}"
        }
      },
      yAxis: {
        title: {
          text: ''
        }
      },
      series: null
    };
    function setGenericColours(data) {
      var shades = ['#bbb', '#ddd'];
      var c = 0;
      // find the series with generic, and set it to gray
      for (var i = 0, l = data.series.length; i < l; i++) {
        if (data.series[i].is_generic) {
          data.series[i].color = shades[c % 2];
          data.series[i].showInLegend = true;
          data.series[i].name = "Generically prescribed " + data.series[i].name;
          c += 1;
        } else {
          data.series[i].showInLegend = false;
        }
      }
      return data
    }
    $.getJSON(
      '{{ API_HOST }}/api/1.0/ppu_histogram/?format=json&bnf_code={{ bnf_code }}&highlight={{ highlight }}&date={{ date|date:"Y-m-d" }}',
      function(data) {
        data = setGenericColours(data);
        var options = $.extend(true, {}, highchartsOptions);
        options.series = data.series;
        options.title.text = 'England-wide distribution of PPU for {{ name }}';
        options.xAxis.plotLines[0].value = data.plotline;
        $('#all_practices_chart').highcharts(options);
      }
    );

    $.getJSON(
      '{{ API_HOST }}/api/1.0/ppu_histogram/?format=json&bnf_code={{ bnf_code }}&highlight={{ highlight }}&date={{ date|date:"Y-m-d" }}&focus=1',
      function(data) {
        data = setGenericColours(data);
        var options = $.extend(true, {}, highchartsOptions);
        options.series = data.series;
        options.title.text = 'Distribution of PPU for {{ name }} at {{ highlight_name }}';
        options.xAxis.plotLines = [];
        $('#highlight_chart').highcharts(options);
      }
    );
  });
</script>
{% endblock %}
