{% extends "base.html" %}
{% load humanize %}

{% block title %}{{ practice }}{% endblock %}
{% block active_class %}practice{% endblock %}

{% block extra_css %}
<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
{% endblock extra_css %}

{% block content %}

<h1>{{ practice }}</h1>

<div class="row" id="summary">

<div class="col-md-6">
<p class="lead">Address: {{ practice.address_pretty }}</p>
{% if practice.ccg %}
<p class="lead">Part of CCG: <a href="{% url 'ccg' practice.ccg.code %}">{{ practice.ccg.name }}</a></p>
{% endif %}
{% if practice.list_size_13 %}
<p class="lead">Registered patients in 2013/14: {{ practice.list_size_13|intcomma }}</p>
{% endif %}
<p class="lead">Current practice type: {{ practice.get_setting_display }}</p>
</div>

<div class="col-md-6" id="map-container">
<div id="map-ccg"></div>
<small>Practice locations are approximate, <a href="#location">based on postcode</a>. Addresses may change, please check directly with your practice!</small>
</div>

</div>

<hr/>

{% if practice.setting != 4 %}
<div class="alert alert-warning" role="alert" style="margin-top: 10px;">
<strong>Warning!</strong> {{ practice.name }} is not a standard GP practice, so may have very low numbers for some of these dashboards. Don't be surprised if some of the graphs look strange.
</div>

{% endif %}

{% include '_dashboard.html' with orgType="practice" orgId=practice.code orgName=practice.name %}

<div>
<h3>Other prescribing</h3>
<p>
Explore <a href="{% url 'analyse' %}#org=practice&orgIds={{ practice.code }}">prescribing by {{ practice.name }}</a> versus other practices in {{ practice.ccg.name }}, for any drug type.
</p>
</div>

<hr/>

<small id="location">Practice locations based on <a href="http://systems.hscic.gov.uk/data/ods/datadownloads/onsdata">data from HSCIC/ONS</a>. Contains OS data © Crown copyright and database right 2016, Royal Mail data © Royal Mail copyright and database right 2016, National Statistics data © Crown copyright and database right 2016.</small>

{% endblock %}
