{% extends "base.html" %}
{% load template_extras %}

{% block title %}FAQs{% endblock %}
{% block active_class %}more{% endblock %}

{% block content %}


<h1>Price Per Unit FAQs</h1>

<p>These FAQs are in beta - please <a href="mailto:{{ SUPPORT_EMAIL }}" class="feedback-show">get in touch</a> if you have any comments or suggestions</p>

<h2>FAQs</h2>
<p><a href="#difference">What causes the difference in price per unit?</a></p>
<p><a href="#savings">Are these savings achievable?</a></p>
<p><a href="#multiple">Why do some presentations have multiple prices per unit?</a></p>
<p><a href="#brandedgeneric">What is a branded generic?</a></p>
<p><a href="#product">How do you identify generic and branded products in the prescribing data?</a></p>
<p><a href="#calculate">How do you calculate the cost-savings?</a></p>
<p><a href="#cost">Why do you use Net Ingredient Cost rather than Actual Cost?</a></p>

<h2>Limitations and Disclaimers</h2>
<p><a href="#License">Licensing Issues</a></p>
<p><a href="#Bioequivalence">Bioequivalence</a></p>
<p><a href="#DT">Drug Tariff Prices</a></p>

<h2>Definitions</h2>
<p><a href="#BNF">BNF</a></p>
<p><a href="#Chemical">Chemical</a></p>
<p><a href="#Quantity">Quantity</a></p>
<p><a href="#NIC">Net Ingredient Cost</a></p>
<p><a href="#ActualCost">Actual Cost</a></p>
<p><a href="#Formulation">Formulation</a></p>
<p><a href="#Presentation">Presentation</a></p>
<p><a href="#GEPresentation">Generic equivalent presentation</a></p>
<p><a href="#PPU">Price per Unit</a></p>

<hr/>
<h2>FAQs</h2>
<h3 id="difference">What causes the differences in price per unit?</h3>

<p>There are a number of reasons why there is variation in the price per unit:</p>

<h4>Brand to Generic</h4>
<p>When a drug is first developed by a pharmaceutical company, the drug is under a patent. During this time, the only drug that can be dispensed is the branded version from pharmaceutical company which developed it. All drugs are also given a generic name when first given marketing authorisation. For example, Cerazette is the name of the originator brand for the progesterone-only pill, and its generic name is ‘desogestrel’.</p>
<p>It has always been possible to prescribe desogestrel by its generic name, but while it was still in patent, only one brand (Cerazette) was available to be dispensed.</p>
<p>Once the patent expired, other manufacturers started produce the same drug at much cheaper price points.</p>
<p>Any clinicians prescribing desogestrel by its brand name were unable to benefit from these cheaper prices, as a prescription for Cerazette must be dispensed as Cerazette, whereas a prescription for desogestrel could now be dispensed as any number of cheaper products.</p>
<p>The reimbursement price of drugs is listed by the generic name in the Drug Tariff, and in England the price is set by the Secretary of State for Health.</p>
<p>There are often considerable cost savings to the NHS for switching from branded to generic prescribing, and we have measures for some of these switches on our CCG and GP Practice dashboards. Examples include switching from prescribing <a href="https://openprescribing.net/measure/desogestrel/">Cerazette to generic desogestrel</a> or from <a href="https://openprescribing.net/measure/keppra/">Keppra to generic levetiracetam</a>.</p>

<h4>Branded Generics</h4>
<p>Prescribing generically may not always be the lowest cost option. Once a patent has expired, other manufacturers can create their own branded products which are called ‘branded generics’. These branded generics sometimes have a lower list price in comparison to the price of the generic in the Drug Tariff. For more information about branded generics, <a href="#brandedgeneric">read this</a>.</p>
<p>Branded generics are not always cheaper than the price of a generic prescription, and the prices do fluctuate from month to month. An example of this is desogestrel. Cerazette was the original branded product. Once the patent expired, generic manufacturers produced the drug and packaged it under the generic name of desogestrel. Some manufacturers also started producing ‘branded generics’. One of these branded generics is called Cerelle, and for a time the cheapest option was guaranteed by prescribing by this brand name. However the generic price has fallen, and is now below all of the branded generic prices. This means that prescribing generically, rather than Cerelle, is now the cheapest option. </p>

<h4>Different formulations</h4>
<p>There can be more than one formulation of the same product on the market (such as capsules and tablets) which may be available at different prices. For some drugs these different formulations will have different clinical benefits, while others they are effectively interchangeable.</p>

<h4>Drugs not listed in the Drug Tariff (NP8)</h4>
<p>Some drugs are not listed in Part VIII of the Drug Tariff, and therefore when prescribed pharmacies will be reimbursed at the invoiced cost of the brand they choose to dispense. This has led to some instances of very large variation in costs depending on which pharmacy dispensed the prescription.</p>
<p>This is also the case for individually formulated (“specials”) medicines and unlicensed and imported medicines.</p>

<h4 id="packsize">Different pack sizes</h4>
<p>For some medicines, such as emollient creams, there may be multiple pack sizes available. Different pack sizes may have different costs per unit, and the reimbursement to the pharmacy depends on what pack size was dispensed. E.g. it may cost more if the pharmacy dispenses 5x100g rather than 1x500g for a prescription for 500g. The prescriber has no control over the pack sizes chosen by the pharmacy.</p>

<h3 id="savings">Are these savings achievable?</h3>
<p>Not all potential savings can be realised:</p>
<ul type="disc">
        <li>There may sometimes be a reasonable clinical justification for a specific patient to be prescribed a branded treatment in place of the generic equivalent.</li>
        <li>There may variation in local availability of a specific cheaper branded generic.</li>
        <li>Some variation may be due to pack size or “specials” (presentations made bespoke for individual patients).</li>
        <li>Some of the money lost in the price paid for a dispensed presentation may be made up through a complex system of “rebates” paid by specific pharmaceutical companies to specific CCGs on specific products. These arrangements are not routinely disclosed.</li>
        <li>Certain items have <a href="#packsize">different pack sizes.</a></li>
        <li>Some savings are only achievable with additional intervention. This includes, for example, savings from different brands of glucose test strips where the switch would also require procurement of a new meter to match the new brand.</li>
</ul>
<p>For a full discussion of these issues, see our <a href="https://doi.org/10.1101/172569">paper</a></p>
<p>It is not possible to use data to distinguish between easy and difficult savings opportunities.</p>

<h3 id="multiple">Why do some presentations have multiple prices per unit?</h3>
<p>For some presentations on our graphs you may see single presentation at multiple price points. There are a number of reasons why this might be:</p>
<h4>Items prescribed generically but are not in the Drug Tariff</h4>
<p>All drugs can be prescribed generically, but the Drug Tariff does not always have a price for every item. When this happens, the dispenser can choose what brand they dispense to the patient. The dispenser (usually a community pharmacy) will then be reimbursed based on the dispensed brand’s list price.</p>
<p>The prescribing dataset only tells us what was prescribed by the clinician, and so we do not have the information about what brand was dispensed in these instances. This will therefore lead to a range of price per units appearing under the generic item, because it reflects the price of the underlying brands available.</p>

<h4>Imports & Specials not in the Drug Tariff</h4>
<p>According to the Drug Tariff, specials are:</p>
<p>“unlicensed medicinal products manufactured in the UK for human use which have been specially prepared to meet a prescription ordered for individual patients without the need for the manufacturer to hold a marketing authorisation for the medicinal product concerned.”</p>
<p>Imports may have marketing authorisation but are only available via an import route.</p>
<p>In many cases there is no Drug Tariff list price for imports or unlicensed specials. Therefore, we would expect many items which are imports and specials to have a range of prices.</p>

<h4>Branded Prescriptions & Generic Items in the Drug Tariff</h4>
<p>For items in the Drug Tariff which are prescribed generically, we would expect the price per unit to always to be consistent within a given month. This is because the reimbursement price is set monthly in the drug tariff.</p>
<p>Despite this, we do sometimes see different price per units even for items in the Drug Tariff. We do not always know the reason for this, but here are a couple of examples illustrating why this might happen:</p>
<ul type="disc">
        <li>Some of the issues may be due to the rounding of Net Ingredient Cost (link) (NIC).  For example, as of July 2017 Chemydur XL tabs 60mg were £3.49 for 28 tablets. Depending on the number of tablets prescribed, the rounded NIC for that month  varies between 12p and 13p per pill.</li>
        <li>There is not 100% accuracy in NHS Business Services Authority pricing. The NHS BSA publishes monthly accuracy figures <a href="https://www.nhsbsa.nhs.uk/pharmacies-gp-practices-and-appliance-contractors/payments-and-pricing/how-we-process-prescriptions">here</a>.</li>
</ul>
<p>There may be other reasons, and you can see our discussion of this issue <a href="https://github.com/ebmdatalab/openprescribing/issues/476">here</a>.</p>

<h3 id="brandedgeneric">What is a branded generic?</h3>
<p>The brand is the name given to a drug by the pharmaceutical company that develops it. The generic name of a drug is the name given to the active ingredient.</p>
<p>When a drug is first developed, it is under a patent, and this is the drug that will be dispensed whether the prescriber uses the generic or the brand name. Once the patent of a drug expires, generic versions of the drug can be manufactured. There are a number of manufacturers who produce generic drugs, and the packaging will have the name of the <a href="#Presentation">presentation</a> of the drug.</p>
<p>Once a drug is no longer under patent, other manufacturers can also choose to create their own bioequivalent branded versions of the drug. These are known as branded generics.</p>
<p>The Drug Tariff determines the amount that will be paid to pharmacies and appliance contractors for medicines. The price paid differs depending whether a prescriber chooses to prescribe by a brand or by the generic name of a drug.</p>
<p>Reimbursement prices for branded products are based on the manufacturer’s list price for the drug. The reimbursement price for a branded generic is usually much cheaper than the original brand. The price reimbursed for most generic prescriptions is set in Part VIIIA of the Drug Tariff, and this amount is paid regardless of which brand the pharmacy dispenses. Branded generics are sometimes cheaper than the generic price, but not always.</p>
<p>PrescQIPP have produced a <a href="https://www.prescqipp.info/branded-generic-drugs/send/269-branded-generic-drugs/2696-bulletin-141-branded-generic-drugs">useful bulletin</a> discussing the issues of prescribing branded generics. This bulletin is also a good resource for understanding how the reimbursement price of generic drugs is determined.</p>

<h3 id="product">How did you identify generic and branded products in the prescribing data?</h3>
<p>We used the BNF codes of drugs in the prescribing data to identify whether they were a branded or generic product. Branded drugs are identified as anything other than “AA” in characters 10 and 11 of their BNF code. You can read more about BNF codes <a href="https://ebmdatalab.net/prescribing-data-bnf-codes/">here</a>.</p>

<h3 id="calculate">How do you calculate the cost-savings?</h3>
<p>Each month we we calculated the mean <a href="#PPU">price-per-unit</a> for every set of <a href="#GEPresentation">generic-equivalent presentations</a> for every GP Practice in England.</p>
<p>Once we have calculated the mean price-per-unit for each individual practice, we then identify the practices at the 10th centile for each generic-equivalent presentation. We use this price to calculate how much each practice could have saved if it had been prescribing as cost-efficiently as the practice at the 10th centile. See our <a href="https://doi.org/10.1101/172569">paper</a> for more information.</p>

<h3 id="cost">Why do you use Net Ingredient Cost rather than Actual Cost?</h3>
<p>Our calculations use the <a href="#NIC">Net Ingredient Cost (NIC)</a>, as opposed to the <a href="#ActualCost">actual cost</a>.</p>
<p>Although the Actual Cost more accurately reflects the total spend to the NHS, the addition of container payments and out-of-pocket expenses can affect the price-per-unit, particularly where the prescribed quantities are small and are inexpensive, leading to multiple price-per-unit figures for the same presentation. Using NIC avoids these multiple figures, and instead calculates the price-per-unit based solely on NHS list price, providing a more consistent calculation, albeit with marginally overestimated savings. The container payments and out-of-pocket expenses are not within the prescriber’s control, and are costs added by the dispenser.</p>

<h2>Limitations and Disclaimers</h2>
<div class="alert alert-info" >
We accept no liability for any errors in the data or its publication here: use this data at your own risk. You should not use this data to make individual prescribing decisions.
</div>
<h3 id="License">Licensing issues</h3>
<p>Sometimes only particular brands hold the license for certain conditions. An example of this is pregabalin, which until recently could only be prescribed generically for epilepsy (its licence for this indication having expired in 2014), but prescribed as the branded product (Lyrica) for pain, under a second licence from the same manufacturer, which expired in July 2017.</p>

<h3 id="Bioequivalence">Bioequivalence</h3>
<p>Some theoretical switches may not be advisable due to the non-bioequivalence of different brands. <a href="https://ebmdatalab.net/prescribing-data-using-the-dictionary-of-medicines-and-devices/">dm+d</a> has a flag for non-bioequivalence, and we have indicated where this is flagged at the top of each generic-equivalent presentation's chart under 'Prescribability Status' (found by hovering the mouse over the presentation name)</p>

<h3 id="DT">Drug Tariff Prices</h3>
<p>This analysis is carried out against GP Practice prescribing data, which typically has a 3 month lag to its release. If the Department of Health has updated the Drug Tariff to reflect the cheaper list prices, then a switch may no longer be necessary to achieve savings.</p>
<p>This analysis shows a monthly snapshot of the price-per-unit. Prices of brands can change over time.</p>

<h2>Definitions</h2>
<h3 id="BNF">BNF</h3>
<p>See our blog post on the <a href="https://ebmdatalab.net/prescribing-data-bnf-codes/">BNF</a>.</p>

<h3 id="Chemical">Chemical</h3>
<p>A chemical is the name of the active ingredient in a medicine e.g. “tramadol hydrochloride”. Prescription items in BNF Chapters 19-23 have no chemical name. These chapters include items like dressings and appliances.</p>

<h3 id="PrescItem">Prescription Item</h3>
<p>NHS Digital define a prescription item in their <a href="http://content.digital.nhs.uk/media/10048/FAQs-Practice-Level-Prescribingpdf/pdf/PLP_FAQs_April_2015.pdf">FAQ</a> (PDF) as:</p>
<p>‘A prescription item is a single supply of a medicine, dressing or appliance written on a prescription form. If a prescription form includes three medicines it is counted as three prescription items.</p>
<p>Item figures do not provide any indication of the length of treatment or quantity of medicine prescribed. Patients with a long term condition usually get regular prescriptions. While many prescriptions are for one month (28 or 30 days supply), items will be for varying length of treatment and quantity.’</p>

<h3 id="Quantity">Quantity</h3>
<p>NHS Digital define quantity in their <a href="http://content.digital.nhs.uk/media/10048/FAQs-Practice-Level-Prescribingpdf/pdf/PLP_FAQs_April_2015.pdf">FAQ</a> (PDF) as:</p>
<p>'The quantity of a drug dispensed is measured in units depending on the formulation of the product, which is given in the drug name. Quantities should not be added together across preparations because of different strengths and formulations.</p>
<p>• Where the formulation is tablet, capsule, ampoule, vial etc the quantity will be the number of tablets, capsules, ampoules, vials etc</p>
<p>• Where the formulation is a liquid the quantity will be the number of MLS</p>
<p>• Where the formulation is a solid form (eg. Cream, gel, ointment) the quantity will be the number of grammes'</p>

<h3 id="NIC">Net Ingredient Cost</h3>
<p>NHS Digital define Net Ingredient Cost in their <a href="http://content.digital.nhs.uk/media/10048/FAQs-Practice-Level-Prescribingpdf/pdf/PLP_FAQs_April_2015.pdf">FAQ</a> (PDF) as:</p>
<p>‘The Net Ingredient Cost (NIC) is the basic price of a drug, i.e. the price listed in the Drug Tariff or price lists’</p>

<h3 id="ActualCost">Actual Cost</h3>
<p>NHS Digital define actual cost in their <a href="http://content.digital.nhs.uk/media/10048/FAQs-Practice-Level-Prescribingpdf/pdf/PLP_FAQs_April_2015.pdf">FAQ</a> (PDF) as:</p>
<p>‘ Actual Cost is the estimated cost to the NHS, which is usually lower than Net Ingredient Cost. Actual Cost is calculated by subtracting the average percentage discount per item received by pharmacists (based on the previous month) from the Net Ingredient Cost, but adding in the value of a container allowance for each prescription item.’</p>

<h3 id="Formulation">Formulation</h3>
<p>The formulation is the form in which the medicine is given: for example tablet, capsule, liquid, or cream.</p>

<h3 id="Presentation">Presentation</h3>
<p>A presentation is the chemical, strength, formulation and name of the medicine. If a generic was prescribed, the name will include the generic name of the medicine e.g.tramadol hydrochloride SR 100mg capsules. The presentation will include the brand name if a specific brand was prescribed e.g. Zamadol SR 100mg capsules.</p>

<h3 id="GEPresentation">Generic-equivalent presentation</h3>
<p>A generic-equivalent presentation is one step higher in the hierarchy than <a href="#Presentation">presentation</a>. It is the chemical, the dose, and the formulation, but not the specific brand.</p>
<p>For example, the generic-equivalent presentation of tramadol hydrochloride SR 100mg capsules includes everything prescribed as the generic tramadol hydrochloride SR 100mg capsules and everything prescribed as the brand Zamadol SR 100mg capsules (the branded form of tramadol hydrochloride SR 100mg capsules).</p>
<p>We determine generic equivalent presentations using BNF codes. The BNF code for a branded drug can be used to tell you what the generic presentation is (read our <a href="https://ebmdatalab.net/prescribing-data-bnf-codes/">blog</a> to find out how). This means you can find all branded drugs for each generic drug, and can then group them into generic-equivalent presentations.</p>
<p>We have combined all formulations (e.g. tablets and capsules) at the generic-equivalent presentation level where we are aware that these are clinically interchangeable. We have also excluded some potential substitutions where it was determined that switches were not comparable.</p>

<h3 id="PPU">Price per Unit</h3>
<p>Every prescription is for a <a href="#Quantity">quantity</a> of the units of the treatment. For example, each prescription is for a number of tablets or capsules; or the number of injections or inhalers; or millilitres of a liquid; or grams of a cream.</p>
<p>The “price-per-unit” is the cost paid by the NHS for each “unit” (one tablet, or one capsule, or one injection).</p>
<p>Our calculations use <a href="#NIC">Net Ingredient Cost (NIC)</a>.</p>


{% endblock %}
