{% extends "base.html" %}
{% load humanize %}
{% load template_extras %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1>{{ title }}</h1>

<div id="monthly-totals-chart"></div>

<hr/>

<form class="form pull-right" action="">
  <select name="breakdown_date" class="form-control js-submit-on-change">
    <option>Change date</option>
    {% for date in available_dates %}
      <option value="{{ date|date:"Y-m-d" }}">{{ date|date:"F Y" }}</option>
    {% endfor %}
  </select>
</form>
<h2>
  {% if breakdown_is_estimate %}Estimated cost{% else %}Cost{%endif%}
  breakdown for {{ breakdown_date|date:"F Y" }}
</h2>

{% if breakdown_is_estimate %}
  <div class="alert alert-info">
    These costs are estimated, produced by combining Drug Tariff and Price Concession data
    for {{ breakdown_date|date:"F Y" }} with the latest available prescribing data for
    {{ last_prescribing_date|date:"F Y" }}
  </div>
{% endif %}

<br>
<div id="breakdown-table-wrapper" class="hide">
  <table class="table">
    <thead>
      <tr>
        <th>BNF code</th>
        <th>Presentation</th>
        <th>Quantity</th>
        <th>Tariff cost</th>
        <th>Additional concessions cost</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <p>
    <a href="#" class="btn btn-primary js-download-data">
      Download data <span class="glyphicon glyphicon-save"></span>
    </a>
  </p>
</div>

<div id="ccg-breakdown-table-wrapper" class="hide">
  <table class="table">
    <thead>
      <tr>
        <th>Code</th>
        <th>CCG</th>
        <th>Additional concessions cost</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <p>
    <a href="#" class="btn btn-primary js-download-data">
      Download data <span class="glyphicon glyphicon-save"></span>
    </a>
  </p>
</div>

{% endblock %}

{% block extra_js %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.15/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.15/datatables.min.js"></script>
{% conditional_js 'spending-chart' %}

{{ breakdown|json_script:"breakdown-data" }}
{{ ccg_breakdown|json_script:"ccg-breakdown-data" }}
{{ monthly_totals|json_script:"monthly-totals-data" }}

{% endblock %}
