body {
  font-family: 'sofia-pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: #222;
  font-size: 16px;
  background-repeat:repeat;
}
body > .container {
  max-width: 1000px;
}
h1, h2, h3, h4, h5, h6, .navbar-brand, #navbar {
  font-family: 'sofia-pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  color: #222;
}
h1, h2, h3, h4, h5, h6 {
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.64);
}
.container p, .alert {
  max-width: 800px;
}

.alert {
  margin-bottom: 10px;
}

.alert-info {
  color: #222;
  border-color: #31b0d5;
  background-color: #d9edf7;
}

.invisible {
  visibility: hidden;
}
.disclaimer {
  color: #727272;
}
.lead {
  margin-bottom: 7px;
}

.alert {
  margin-top: 10px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  padding-bottom: 150px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: #e6e6e6;
  height: auto;
  overflow: auto;
  font-size: 12px;

  .sponsors {
    margin-bottom: 10px;
    a.logo {
      float: left;
    }
    img {
      margin-top: 3px;
      margin-right: 10px;
      height: 45px;
    }
  }

  @media (max-width: 990px) {
    font-size: 10px;

    .sponsors img {
      height: 40px;
      margin-bottom: 5px;
      margin-right: 5px;
    }
  }
}

.form-inline > .form-group {
    vertical-align: top;
}

/* Fix for Django-debug-toolbar bug
-------------------------------------------------- */
#djDebugToolbarHandle {
  top: 30px !important;
}

/* Fix for link-styled buttons - bootstrap doesn't reset padding
--------------------------------------------------------------- */
.btn-link {
  padding: 0;
}

#bubble-chart {
  padding: 20px 0 20px 0;
}

.info-link {
  border-bottom: dotted 1px #337ab7;
  color: #337ab7;
  cursor: help;
}

#extended-info {
  display: none;
}

#price_per_pill .popover {
  width: 200px;
}

#more-text {
  display: none;
}

.bubble-chart-tab a {
  font-weight: bold;

}

.ppu-on-landing-page {
}

hr {
  border-top: 1px solid #ddd;
}

.landing-page {
  h3 {
    margin-top: 0;
  }
}

.form-inline > * {
   margin:5px 3px;
}

.landing-panel {
  padding: 15px;

  .measure-description {
    min-height: 6em;
  }
}
