.homepage-image {
  margin: 0 10px 10px 0;
  border: 1px solid #ccc;
  float: left;
  width: 200px;
}
.homepage-comingsoon {
  position: relative;
  background-color: #e6e6e6;
  height: 200px;
}
.homepage-comingsoon .message {
  position: absolute;
  top: 90px;
  width: 100%;
  left: 45px;
  color: #ccc;
}

.latest-news-item {
  margin-bottom: 20px;
  img {
    display: block;
    width: 200px;
    border-radius: 6px;
  }
}
