openprescribing/data/raw_data
openprescribing/media/js/archive
openprescribing/media/js/node_modules
openprescribing/static/js/*js
openprescribing/static/css/index.css
openprescribing/assets
analysis/
docs/
cache-warming/
openprescribing/pipeline/e2e-test-data/data
openprescribing/pipeline/e2e-test-data/log.json

# System files
*.py[co]
*.egg*
build
*.db
*.log
.project
.pydevproject
.settings
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo
.DS_Store
._*
Thumbs.db
Desktop.ini
Icon?
.coverage
htmlcov
.idea/

ansible/.vagrant
ansible/vagrant.retry
openprescribing/envdir/
venv/
