# This file lists all the packages that openprescribing depends on directly.
# See instructions at the top of base.txt for how to generate a full list of
# pinned requirements.

# Note that most of the pinned version numbers here are not essential (they
# were taken from the versions running in production at the point that this
# file was created) and many of the `==`s could probably be safely replaced
# with `>=`s.  If there are new or upgraded dependencies which make dependency
# resolution impossible, loosening the requirements here should be the first
# thing we try.

backports.csv
beautifulsoup4
django-allauth==0.25.2
django-anymail[mailgun]==2.2
django-cors-headers==2.4.0
django-crispy-forms==1.6.1
django-dotenv
django-import-export
django>=1.11,<2.0
djangorestframework-csv==1.4.1
djangorestframework>=3.3.2
enum34
google-api-python-client==1.6.2
google-cloud-bigquery==0.30.0
google-cloud-storage==1.7.0
gunicorn>=19.5.0
html2text==2018.1.9
lxml==3.6.4
mailchimp3>=2.0.18
networkx==1.11
newrelic
numpy==1.15.4
openpyxl==2.3.3
pandas-gbq==0.3.1
pandas==0.23.4
premailer==3.0.1
psycopg2-binary==2.7.5
python-dateutil==2.6.1
pytz==2016.7
raven
requests-futures==0.9.7
requests[security]==2.20.1
titlecase==0.12.0
tqdm==4.14.0
xlrd==1.1.0

# test requirements
coverage
selenium
pyquery
pyvirtualdisplay
mock

# development requirements
django-debug-toolbar
django-debug-toolbar-template-timings
django-extensions
fabric==1.13.1
flake8
graphviz
pip-tools
pre-commit
when-changed
