# This file lists all the packages that openprescribing depends on directly.
#
# To add or remove dependencies, update this file and then run `pip compile` to
# update requirements.txt.
#
# If a particular version (or range of versions) of a dependency is required,
# that can be specified here (although that will be ignored by Dependabot).

backports.csv
beautifulsoup4
crispy-bootstrap3
diskcache
django-anymail[mailgun]
django-cors-headers
django-crispy-forms
django-dotenv
# Django 4.2 is the current LTS release. If you update this remember to update
# the constraints in .github/dependabot.yml
django>=4.2,<4.3
djangorestframework
djangorestframework-csv
google-api-python-client
google-cloud-bigquery
google-cloud-storage
google-cloud-bigquery-storage  # this speeds up access to BQ
gunicorn
html2text
lxml
lz4
networkx
numpy
openpyxl
pandas-gbq
pandas
premailer
psycopg2-binary
pysqlite3-binary
python-dateutil
pytz
raven
requests-futures
requests[security]
scipy
# Changes to the capitalisation rules in later versions break our tests
titlecase==0.12.0
xlrd

# test requirements
coverage
selenium
pyquery
pyvirtualdisplay
mock

# development requirements
django-debug-toolbar
django-debug-toolbar-template-timings
django-extensions
fab-classic
flake8
graphviz
pip-tools
when-changed


# outlier reports requirements
matplotlib
seaborn
lxml
numpy
jinja2
