body {
  font-family: 'sofia-pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: #222;
  font-size: 16px;
  background-image: url(/static/img/white_wall_hash.png);
  background-repeat: repeat;
}
body > .container {
  max-width: 1000px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand,
#navbar {
  font-family: 'sofia-pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  color: #222;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.64);
}
.container p {
  max-width: 800px;
}
.invisible {
  visibility: hidden;
}
.disclaimer {
  color: #727272;
}
.lead {
  margin-bottom: 7px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  padding-bottom: 150px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: #e6e6e6;
  height: auto;
  overflow: auto;
  font-size: 12px;
}
.footer .sponsors img {
  margin-right: 10px;
  height: 50px;
  border: 1px solid #ccc;
}
.footer .sponsors img:last {
  margin-right: 0;
}
@media (max-width: 990px) {
  .footer {
    font-size: 10px;
  }
  .footer .sponsors img {
    height: 40px;
    margin-bottom: 5px;
    margin-right: 1px;
  }
}
/* Fix for Django-debug-toolbar bug
-------------------------------------------------- */
#djDebugToolbarHandle {
  top: 30px !important;
}
.navbar-inverse {
  margin-bottom: 10px;
  background: #1c1c1c;
  background: -moz-linear-gradient(top, #1c1c1c 0%, #131313 0%, #333333 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #1c1c1c), color-stop(0%, #131313), color-stop(100%, #333333));
  background: -webkit-linear-gradient(top, #1c1c1c 0%, #131313 0%, #333333 100%);
  background: -o-linear-gradient(top, #1c1c1c 0%, #131313 0%, #333333 100%);
  background: -ms-linear-gradient(top, #1c1c1c 0%, #131313 0%, #333333 100%);
  background: linear-gradient(to bottom, #1c1c1c 0%, #131313 0%, #333333 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1c1c', endColorstr='#333333', GradientType=0);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.home .active_home > a,
.analyse .active_analyse > a,
.ccg .active_ccg > a,
.practice .active_practice > a,
.trends .active_trends > a,
.more .active_more > a {
  color: #fff !important;
  background-color: #080808;
}
img.logo {
  width: 20px;
  margin-right: 5px;
  float: left;
}
img.logo path {
  fill: white;
}
.beta {
  font-size: 9px;
  margin-left: 4px;
}
/* Ensure dropdown menu has higher z-index than Mapbox controls.
-------------------------------------------------- */
.dropdown-menu {
  z-index: 1001 !important;
}
.homepage-image {
  margin: 0 10px 10px 0;
  border: 1px solid #ccc;
  float: left;
  width: 200px;
}
.homepage-comingsoon {
  position: relative;
  background-color: #e6e6e6;
  height: 200px;
}
.homepage-comingsoon .message {
  position: absolute;
  top: 90px;
  width: 100%;
  left: 45px;
  color: #ccc;
}
#results {
  display: none;
}
#results #tabs {
  width: 100%;
}
#results #tabs li {
  width: 33%;
}
@media (max-width: 1000px) {
  #results #tabs li a {
    font-size: 12px;
  }
}
#results #data-panel,
#results #chart-panel {
  padding-top: 20px;
}
#results .tab-pane {
  padding: 0 20px 20px 20px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#results .tab-pane .chart-title-wrapper {
  text-align: center;
}
#results .tab-pane .chart-title-wrapper .chart-title {
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
}
#results .tab-pane .chart-title-wrapper .chart-title br {
  display: none;
}
@media (max-width: 1000px) {
  #results .tab-pane .chart-title-wrapper .chart-title br {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
  }
}
#results .tab-pane .chart-title-wrapper .chart-sub-title {
  font-size: 12px;
  color: #666666;
  font-weight: bold;
}
#results .tab-pane.active {
  background: white;
  min-height: 500px;
}
#results .tab-content > .active,
#results .pill-content > .active {
  height: auto;
  width: auto;
}
/* Analyse form styles
Responsive styling: http://jsfiddle.net/G58f5/51/
-------------------------------------------------- */
#analyse-options {
  margin-top: 20px;
  margin-bottom: 20px;
}
.form-row {
  display: table;
  width: 100%;
  text-align: left;
  vertical-align: top;
  margin-bottom: 10px;
}
.col {
  display: table-cell;
  vertical-align: top;
  margin-bottom: 5px;
  min-height: 40px;
}
.left {
  width: 170px;
  min-width: 170px;
  margin-left: 0;
  padding-top: 5px;
}
.middle {
  width: 220px;
  min-width: 220px;
}
.right {
  padding-left: 10px;
}
#org-help {
  font-size: 0.8em;
  display: none;
}
.help {
  border-bottom: 1px dotted #000;
  text-decoration: none;
}
@media (max-width: 1000px) {
  .form-row,
  .col {
    display: block;
    width: 100%;
    min-height: 25px;
  }
  .form-row .left {
    width: 100%;
    min-width: 100%;
    font-weight: bold;
    min-height: 30px;
  }
  .form-row .middle {
    width: 100%;
    min-width: 100%;
  }
  .form-row .right {
    border-bottom: 1px dotted #ccc;
    padding-top: 10px;
    padding-left: 0;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  #update {
    width: 100%;
  }
}
/* Select2 styles */
.select2-container .select2-selection--single {
  height: 36px !important;
  padding-top: 3px;
  padding-left: 3px;
}
.select2-selection__arrow {
  top: 3px !important;
}
li.select2-search--inline {
  min-width: 200px !important;
  max-width: 90% !important;
}
li.select2-search--inline input.select2-search__field {
  min-width: 200px !important;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  color: gray !important;
  background-color: #ebebeb !important;
}
#old-browser {
  display: none;
}
#map-title {
  font-size: 16px;
  font-weight: bold;
}
.map-legend {
  font-family: 'sofia-pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !important;
}
#map-wrapper {
  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: 10px;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  border: 1px solid gray;
}
.leaflet-popup-close-button {
  display: none;
}
.leaflet-popup-content-wrapper {
  pointer-events: none;
  font-family: 'sofia-pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
.map-legend {
  max-width: 200px;
}
.map-legend .swatch {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
}
.map-legend ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
}
.map-legend .legend-header {
  line-height: 1em;
}
path {
  -webkit-transition: fill 200ms;
  transition: fill 200ms;
}
#chart-loading {
  display: none;
  text-align: center;
}
#chart-loading img.loading {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
  margin-bottom: 10px;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.chart-container {
  overflow: hidden;
  background: white;
  width: 100%;
}
.chart-container #chart,
.chart-container #summarychart {
  width: 100% !important;
  cursor: pointer;
  float: left;
}
.chart-container #summarychart .highcharts-series-group rect:hover {
  fill: #337ab7;
}
.chart-container .highcharts-container {
  width: 100% !important;
  height: 100% !important;
}
.chart-container .highcharts-attribution {
  float: right;
  font-size: 0.7em;
  margin-top: 0.5em;
  color: gray;
}
.chart-container .practice-warning {
  float: left;
  font-size: 0.7em;
  margin-top: 0.5em;
  color: gray;
  max-width: 400px;
}
#chart-options {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: white;
  padding: 10px 20px;
}
#chart-options #chart-options-wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  min-height: 70px;
  position: relative;
}
#chart-options #chart-options-wrapper #items-spending-toggle {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 140px;
}
#chart-options #chart-options-wrapper #slider-wrapper {
  position: absolute;
  width: 100%;
  left: 0px;
  padding-right: 170px;
}
#chart-options #chart-options-wrapper #slider-wrapper #chart-date-slider .noUi-pips {
  font-family: 'sofia-pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
#chart-options #chart-options-wrapper #slider-wrapper #chart-date-slider .noUi-pips-horizontal {
  padding: 10px 0 5px 0 !important;
  height: 40px !important;
}
#chart-options #chart-options-wrapper #slider-wrapper #chart-date-slider .noUi-value-horizontal.noUi-value-large {
  font-size: 10px !important;
  padding-top: 10px;
}
#chart-options #chart-options-wrapper #slider-wrapper #chart-date-slider .noUi-marker-horizontal.noUi-marker-large {
  height: 5px !important;
}
#chart-options #chart-options-wrapper #slider-wrapper #chart-date-slider .noUi-marker-horizontal.noUi-marker-medium {
  height: 2px !important;
}
@media (max-width: 1000px) {
  #chart-options #chart-options-wrapper #slider-wrapper {
    padding-right: 0;
  }
  #chart-options #chart-options-wrapper #items-spending-toggle {
    top: 70px;
  }
}
@media (max-width: 1000px) {
  #chart-options {
    padding-bottom: 40px;
  }
}
/* Map and CCG pages */
#summary {
  margin-top: 20px;
}
#map-ccg {
  height: 300px;
  width: 100%;
  border: 1px solid gray;
}
/* List pages */
#search {
  margin-bottom: 10px;
  width: 40%;
  max-width: 350px;
}
#no-data {
  display: none;
  clear: both;
}
#trends {
  display: none;
  clear: both;
  margin-bottom: 70px;
}
#trends h3 {
  float: left;
}
#trends #graphtype {
  float: left;
  margin-left: 10px;
  margin-top: 15px;
}
#trends .chart {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  vertical-align: middle;
  text-align: center;
}
#trends .chart .status {
  padding-top: 160px;
}
.highcharts-contextmenu hr {
  margin: 5px 0;
}
#dashboard .panel p {
  font-size: 12px;
}
#dashboard .chart {
  height: 300px;
  margin-bottom: 10px;
}
