{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<h1>dm+d browser</h1>
<hr />

{% crispy form %}

{% if results != None %}
  <hr />

  {% for result in results %}
    <h2>{{ result.obj_type_human_plural }} ({{ result.num_hits }})</h2>
    <ul>
      {% for obj in result.objs %}
        <li>
          <a href="{% url 'dmd_obj' obj.obj_type obj.id %}">{{ obj.title }}</a>
          {% if obj.status %}({{ obj.status }}){% endif %}
        </li>
      {% endfor %}
    </ul>

    {% if result.link_to_more %}
    <a href="{{ result.link_to_more }}">Show all {{ result.obj_type_human_plural }}</a>
    {% endif %}
  {% empty %}
    <p>No results found.</p>
  {% endfor %}
{% endif %}
{% endblock %}
