{% extends "base.html" %}
{% block content %}
<h1>dm+d browser</h1>

<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="search-query">Query</label>
    <input name="q" value="{{ q|default_if_none:'' }}" type="text" class="form-control" id="search-query" placeholder="Query or SNOMED code">
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</form>

{% if q %}
{% for verbose_name_plural, objs in results.items %}
<h2>{{ verbose_name_plural }}</h2>
<ul>
{% for obj in objs %}
<li><a href="{% url 'dmd_obj' obj.obj_type obj.id %}">{{ obj.title }}</a></li>
{% endfor %}
</ul>
{% empty %}
<p>No results found.</p>
{% endfor %}
{% endif %}
{% endblock %}
