{% extends "base.html" %}
{% block content %}

<style>
  #amp-table td, #amp-table th { border: none; }
  #amp-table .amp-header { border-right: solid black 2px; }
  #amp-table .pp-header { border-bottom: solid black 2px; }
  #amp-table th { font-weight: normal; }
  .pp-header, .amp-header { font-style: italic; background: #eee; }
  .vertical { writing-mode: vertical-lr; }

  /* shadows to make product pages appear sunken */
  /* horizontal line */
  .amp-first-row { box-shadow: 0px 7px 10px -5px #555 inset; }
  /* vertical line */
  .vmpp-first-col { box-shadow: 7px 0px 10px -5px #555 inset; }
  /* vertical(for top left) */
  .amp-first-row.vmpp-first-col { box-shadow: 7px 7px 10px -5px #555 inset; }

}
</style>

<h1>VMP {{ vmp.id }} relationships</h1>
<p>This page shows all the different ways that the <strong>generic product</strong> <span style="background: {{ vmp_colour }}">{{vmp.nm}}</span> can be prescribed.  The generic form is always in <span style="background: {{ vmp_colour }}">this colour</span>. Other BNF codes for the same product (that is, for branded versions or generic product packs) are indicated with other colours.</p>
<table class="table table-condensed">
  <tr>
    <th>DM+D name of generic product</th>
    <td>{{ vmp.nm }}</td>
    {% if vmp_presentation %}
  </tr>
  <tr bgcolor="{{ vmp_colour }}">
    <th>BNF Name of generic product</th>
    <td>{{ vmp_presentation.name }}</td>
  </tr>
  <tr bgcolor="{{ vmp_colour }}">
    <th>BNF Code of generic product</th>
    <td>{{ vmp_presentation.bnf_code }}</td>
  </tr>
    {% else %}
  <tr>
    <th>BNF Code of generic product</th>
    <td>None</td>
    {% endif %}
  </tr>
</table>

<h2>Related BNF codes</h2>
{% if presentations %}
<table class="table table-condensed">
  {% for presentation in presentations %}
  <tr bgcolor="{{ presentation.colour }}">
    <td>{{ presentation.bnf_code }}</td>
    <td>{{ presentation.name }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>There are no matching BNF codes.</p>
{% endif %}

<h2>Related VMPPs, AMPs, AMPPs</h2>
<p>This table shows how the BNF codes above relate to each other, and to their DM+D equivalents.  Cells are coloured by BNF code; cells without colors are products in DM+D that don't have a corresponding BNF code (and have therefore never appeared in dispensing data).</p>
<table class="table table-condensed" id="amp-table">
  <tr>
    <td></td>
    <td></td>
    <th colspan="{{ vmpp_cols }}" class="pp-header">
      generic product packs
    </th>
  </tr>
  {% for row in table %}
  {% if forloop.counter0 == 0 %}
  <tr>
    <th></th>
    {% for cell in row %}
    {% if cell %}
    <th bgcolor="{{ cell.colour }}">
      {{ cell.obj.nm }}
    </th>
    {% else %}
    <th></th>
    {% endif %}
    {% endfor %}
  </tr>
  {% else %}
  <tr>
    {% if forloop.counter0 == 1 %}<th class="amp-header"   rowspan="{{ amp_rows }}"><div class="vertical">AMP/brand/supplier</div></th> {% endif %}
    {% for cell in row %}
    {% if forloop.counter0 == 0 %}
    <th bgcolor="{{ cell.colour }}">
      {{ cell.obj.descr }}
    </th>
    {% else %}
    {% if cell %}
    <td bgcolor="{{ cell.colour }}" class="{% if forloop.counter0 == 1 %}vmpp-first-col{% endif %}{% if forloop.parentloop.counter0 == 1 %} amp-first-row{% endif %}">
      {{ cell.obj.nm }}
    </td>
    {% else %}
    <td></td>
    {% endif %}
    {% endif %}
    {% endfor %}
  </tr>
  {% endif %}
  {% endfor %}
</table>
{% endblock %}
