{% extends "base.html" %}
{% block content %}

<style>
  #dmd-table td, #dmd-table th { border: none }
  #dmd-table th { font-weight: normal; }
  #dmd-table a { color: black; }
  #dmd-table .vmpp-header { border-left: solid black 2px; text-align: center; }
  #dmd-table .amp-header { border-top: solid black 2px; vertical-align: middle; }
  #dmd-table .vmp-header, .vmpp-header, #dmd-table .amp-header { font-style: italic; background: #eee; }
  #dmd-table .vmp-element { border-right: solid black 2px; border-bottom: solid black 2px; }
  #dmd-table .vmpp-element { border-bottom: solid black 2px; }
  #dmd-table .amp-element { border-right: solid black 2px; }
</style>

<h1>VMP {{ vmp.id }} relationships</h1>
<p>This page shows all the different ways that the <strong>VMP</strong> (usually a generic product) <span style="background: {{ vmp_colour }}">{{vmp.nm}}</span> can be prescribed.  The VMP form is always in <span style="background: {{ vmp_colour }}">this colour</span>. Other BNF codes for the same product (viz. for branded versions, or generic product packs) are indicated with other colours.</p>

<h2>Related BNF codes</h2>
{% if presentations %}
<table class="table table-condensed">
  {% for presentation in presentations %}
  <tr bgcolor="{{ presentation.colour }}">
    <td>{{ presentation.bnf_code }}</td>
    <td>{{ presentation.name }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>There are no matching BNF codes.</p>
{% endif %}

<h2>Related VMPPs, AMPs, AMPPs</h2>
<p>This table shows how the BNF codes above relate to each other, and to their DM+D equivalents.  Cells are coloured by BNF code; cells without colors are products in DM+D that don't have a corresponding BNF code (and have therefore never appeared in dispensing data).</p>
<table class="table table-condensed" id="dmd-table">
  <tr>
    <th class="vmp-header">VMP</th>
    <th class="vmp-header"></th>
    <th colspan="{{ num_vmpps }}" class="vmpp-header">
      VMPPs
    </th>
  </tr>
  {% for row in table %}
  {% if forloop.counter0 == 0 %}
  <tr>
    <th class="vmp-header"></th>
    {% for cell in row %}
    {% if forloop.counter0 == 0 %}
    <th class="vmp-element" bgcolor="{{ vmp_colour }}">
      <a href="{% url 'dmd_obj' 'vmp' vmp.id %}">{{ vmp.nm }}</a>
    </th>
    {% else %}
    <th bgcolor="{{ cell.colour }}" class="vmpp-element">
      <a href="{% url 'dmd_obj' 'vmpp' cell.obj.id %}">{{ cell.obj.nm }}</a>
    </th>
    {% endif %}
    {% endfor %}
  </tr>
  {% else %}
  <tr>
    {% if forloop.counter0 == 1 %}<th class="amp-header" rowspan="{{ num_amps }}">AMPs</th>{% endif %}
    {% for cell in row %}
    {% if forloop.counter0 == 0 %}
    <th bgcolor="{{ cell.colour }}" class="amp-element">
      <a href="{% url 'dmd_obj' 'amp' cell.obj.id %}">{{ cell.obj.descr }}</a>
    </th>
    {% else %}
    {% if cell %}
    <td bgcolor="{{ cell.colour }}" class="ampp-element">
      <a href="{% url 'dmd_obj' 'ampp' cell.obj.id %}">{{ cell.obj.nm }}</a>
    </td>
    {% else %}
    <td></td>
    {% endif %}
    {% endif %}
    {% endfor %}
  </tr>
  {% endif %}
  {% endfor %}
</table>
{% endblock %}
