{% extends base_template %}
{% load template_extras %}
{% load humanize %}
{% block title %}Your monthly alert from OpenPrescribing{% endblock %}

{% block content %}

{% include 'bookmarks/_email_preview_header.html' %}

<p><b>Hello!</b></p>

<p>This is your monthly update for <a href="{{ dashboard_uri }}">{{ bookmark.name }}</a>.</p>

<p>
  <a href="{{ dashboard_uri }}"><img src="cid:{{ graph }}"></a>
</p>

<p>These alerts are still experimental, so if you see things that don't make sense, then please let us know by replying to this email.</p>

{% endblock %}
