{% extends "bookmarks/email_base.html" %}
{% load template_extras %}
{% load humanize %}
{% block title %}Your monthly alert from OpenPrescribing{% endblock %}

{% block content %}

<p>Hello!</p>

<p>Welcome to your your monthly update from OpenPrescribing for {{bookmark.name}}.</p>

<p>{{ intro_text }}</p>

{% if has_stats %}
  {% if stats.most_changing.declines %}
    <h3>Prescribing measures which are getting worse</h3>
    {% if stats.most_changing.declines %}
    <p>
      {% for measure, percent_from, percent_to, _ in stats.most_changing.declines %}
        {% if forloop.counter == 1 %}
          This {{ bookmark.org_type }} slipped by {{percent_from|delta:percent_to|wholenum}} centiles over the last 9 months on <a href="{{ bookmark.dashboard_url }}#{{measure.id}}">{{ measure.name }}</a><br>
        <img src="cid:{{ getting_worse_image }}"><br>
        {% elif stats.most_changing.declines|length == 2 %}
          It also slipped by {{percent_from|delta:percent_to|wholenum}} centiles on <a href="{{ bookmark.dashboard_url }}#{{measure.id}}">{{ measure.name }}</a>.
        {% else %}
          {% if forloop.counter == 2 %}
           It also slipped on:
           <ul>
          {% endif %}
            <li>By {{percent_from|delta:percent_to|wholenum}} centiles on <a href="{{ bookmark.dashboard_url }}#{{measure.id}}">{{ measure.name }}</a></li>
          {% if forloop.last %}
           </ul>
          {% endif %}
         {% endif %}
      {% endfor %}
      </ul>
    {% endif %}


    {% if stats.worst %}
    <h3>Prescribing measures in the lowest decile</h3>
      {% for measure in stats.worst %}
        {% if forloop.first %}
          <p>Over the last three months, this {{ bookmark.org_type }} was in the lowest decile on
          <a href="{{ bookmark.dashboard_url }}#{{measure.id}}">{{ measure.name }}</a>:<br>
          <img src="cid:{{ still_bad_image }}"><br>
        {% elif stats.worst|length == 2 %}
          It was also in the lowest decile on <a href="{{ bookmark.dashboard_url }}#{{measure.id}}">{{ measure.name }}</a>.
        {% else %}
          {% if forloop.counter == 2 %}
            It was also in the lowest decile:
            <ul>
          {% endif %}
              <li><a href="{{ bookmark.dashboard_url }}#{{measure.id}}">{{ measure.name }}</a></li>
          {% if forloop.last %}
            </ul>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}

  {% endif %}

  {% if stats.top_savings.possible_savings %}
    <h3>Possible savings</h3>
    <p>We've looked at all the measures where this {{ bookmark.org_type }} could have saved at least £1000 in the last six months.</p>

    {% if stats.top_savings.possible_savings|length_is:1 %}
      <p>If it had prescribed in line with the average {{ bookmark.org_type }}, it could have saved £{{ stats.top_savings.possible_savings.0.1|wholenum|intcomma }} on <a href="{{ bookmark.dashboard_url }}#{{stats.top_savings.possible_savings.0.0.id}}">{{stats.top_savings.possible_savings.0.0.name}}</a>.
    {% else %}
      <p>These add up to £{{total_possible_savings|wholenum|intcomma}} of potential savings. If it had prescribed in line with the average {{ bookmark.org_type }}, it could have saved:</p>

      <ul>
        {% for measure, saving in stats.top_savings.possible_savings %}
        <li>£{{saving|wholenum|intcomma}} on <a href="{{ bookmark.dashboard_url }}#{{measure.id}}">{{measure.name}}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endif %}

  {% if stats.top_savings.possible_top_savings_total > 5000 %}
    <h3>Best-case possible savings</h3>
<p>We've compared this {{ bookmark.org_type }}'s spending with the lowest-spending decile across all our measures.  If it prescribed as well as the lowest-spending decile, it could save around <b>£{{stats.top_savings.possible_top_savings_total|wholenum|intcomma}}</b>.
    <a href="{{ bookmark.dashboard_url }}?sortBySavings=1">Here's a list of measures, sorted by potential cost savings</a>

    </p>
  {% endif %}


  {% if stats.best %}
  <h3>Prescribing measures in the highest decile</h3>
    {% for measure in stats.best %}
      {% if forloop.first %}
        <p>Over the last three months, this {{ bookmark.org_type }} was in the highest decile on
        <a href="{{ bookmark.dashboard_url }}#{{measure.id}}">{{ measure.name }}</a>:
      {% elif stats.best|length == 2 %}
        It was also in the highest decile on <a href="{{ bookmark.dashboard_url }}#{{measure.id}}">{{ measure.name }}</a>.
      {% else %}
        {% if forloop.counter == 2 %}
          It was also in the highest decile on:
          <ul>
        {% endif %}
            <li><a href="{{ bookmark.dashboard_url }}#{{measure.id}}">{{ measure.name }}</a></li>
        {% if forloop.last %}
          </ul>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if stats.most_changing.improvements %}
    <h3>Prescribing measures which are getting better</h3>
    <p>
      {% for measure, percent_from, percent_to, _ in stats.most_changing.improvements %}
        {% if forloop.counter == 1 %}
          This {{ bookmark.org_type }} improved by {{percent_from|delta:percent_to|wholenum}} centiles over the last 9 months on <a href="{{ bookmark.dashboard_url }}#{{measure.id}}">{{ measure.name }}</a><br>
        {% elif stats.most_changing.improvements|length == 2 %}
          It also slipped by {{percent_from|delta:percent_to|wholenum}} centiles on <a href="{{ bookmark.dashboard_url }}#{{measure.id}}">{{ measure.name }}</a>.
        {% else %}
          {% if forloop.counter == 2 %}
           It also improved on:
           <ul>
          {% endif %}
            <li>By {{percent_from|delta:percent_to|wholenum}} centiles on <a href="{{ bookmark.dashboard_url }}#{{measure.id}}">{{ measure.name }}</a></li>
          {% if forloop.last %}
           </ul>
          {% endif %}
        {% endif %}
      {% endfor %}
  {% endif %}

  {% if stats.top_savings.achieved_savings %}
   {% for measure, saving in stats.top_savings.achieved_savings %}
    <p>By prescribing {{ measure.name }} better than the median, you've saved £{{saving}} over the past 6 months. <a href="{{ bookmark.dashboard_url }}?sortBySavings=1">Here's a list of measures, sorted by potential cost savings</a></p>
   {% endfor %}
  {% endif %}


{% endif %}


{% endblock %}
