{% extends "base.html" %}

{% block title %}Verify your email{% endblock %}


{% block content %}

<h1>One more step...</h1>

{% if sent_in_session > 0 %}
 <h3>We've already sent you an email with a confirmation link. Please check your email to confirm all the alerts you've signed up for today.</h3>
 {% else %}
 <h3>Check your email and click the confirmation link.</h3>
 {% endif %}

{% if request.session.newsletter_email %}
 {% include '_newsletter_signup_form.html' %}
 {% else %}
 <form action="{% url 'finalise-signup' %}" method="post">
   {% csrf_token %}
   <button type="submit" class="btn btn-default">Continue</button>
 </form>
{% endif %}



{% endblock %}
